<a href="https://colab.research.google.com/github/Stanislaff-666/python_practice/blob/main/Carpov_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LESSON 1**

Давайте запрограммируем кота! Создайте три переменные:

cat_name  со строкой как минимум из двух символов

cat_age с неотрицательным числом

is_fluffy с True или False

In [ ]:
cat_name = 'Vasya'
cat_age = 15
is_fluffy = True

In [ ]:
print (cat_name, cat_age, is_fluffy)

Vasya 15 True

Давайте напишем программу для поиска длины гипотенузы. В переменных a и b уже записаны длины катетов прямоугольного треугольника. Создайте новую переменную c и сохраните в нее длину гипотенузы этого треугольника. a

In [ ]:
a=3
b=4
c = (a**2 + b**2)**0.5

In [ ]:
print(c)

5.0

В переменной father_age хранится возраст отца, а в переменной son_age — возраст сына. Посчитайте, через сколько лет отец будет вдвое старше сына. Результат сохраните в переменную result.

In [ ]:
father_age = 20
son_age = 3
result = (father_age-son_age)*2-father_age

In [ ]:
print (result)

14

Заданы вещественные числа a, b и с – стороны треугольника. Вычислите периметр и площадь треугольника. Результат сохраните в переменные perimeter и area соответственно.

In [ ]:
a=3
b=4
c=5
perimeter = (a+b+c)
perimeter_1 = (a+b+c)/2
area = (perimeter_1*(perimeter_1-a)*(perimeter_1-b)*(perimeter_1-c))**0.5

In [ ]:
print ('Периметр = ', perimeter)
print ('Площадь = ', area)

Периметр =  12
Площадь =  6.0

В переменную n сохранено целое число — количество секунд. Напишите программу, которая конвертирует заданное количество секунд n в часы, минуты и секунды. Результат сохраните в переменные hours, minutes, seconds.

In [ ]:
n = 123456 #seconds

hours = n // 3600
minutes = (n % 3600) // 60
seconds = (n % 3600) % 60

print("Часы:", hours)
print("Минуты:", minutes)
print("Секунды:", seconds)

Часы: 34
Минуты: 17
Секунды: 36

В переменной price_new хранится цена килограмма бананов в числовом формате, а в переменной price_old — цена килограмма бананов год назад. Вычислите, на сколько процентов по модулю изменилась цена за год. Результат сохраните в переменную result. Результат округлите до двух знаков после запятой.

In [ ]:
price_new = 24
price_old = 72
result = round(abs(100-price_new*100/price_old),2)
print (result)

66.67

Создайте переменные:

a со значением 5 типа int,

b со значением "10" типа str,

c со значением True типа bool.

В переменную my_sum сохраните сумму трех переменных, которые вы создали, преобразовав b и с к типу int.

In [ ]:
a_1 = 5
a=int(a_1)

b_1 = '10'
b=int(b_1)

c_1 = True
c=int(c_1)

my_sum = a + b + c

print(a)
print(b)
print(c)
print(my_sum)

5
10
1
16

В переменной a сохранено число с десятичной частью но в формате строки, например '3.14'. В переменную с сохраните целую часть из числа в переменной a.

In [ ]:
a = '3.14'
a_1= float(a)
c=int(a_1)
print (c)

3


В переменной х уже сохранено целое положительное число. Вычислите x + x0x0x. Результат сохраните в переменную result.

То есть, если x = 2, то нужно вычислить 2 + 20202.

In [ ]:
x=str(2)
x_1=2
y=int(x+str(0)+x+str(0)+x)
result=x_1+y
print(y)
print(result)

TypeError: ignored

In [ ]:
x=str(10)
#x_1=2
y=int(x+str(0)+x+str(0)+x) + int(x)
#result=x_1+y
print(y)
#print(result)

10010020

В переменной m хранится целое положительное число — продолжительность сна в минутах. Если продолжительность сна составит от 7 до 9 часов включительно, то в переменную optimal_sleep_duration сохраните значение True. В противном случае присвойте это переменной значение False.

In [ ]:
m=480
optimal_sleep_duration=m//60
print (optimal_sleep_duration>=7 and optimal_sleep_duration<=9)

True

In [ ]:
m=480
m_1=m//60
optimal_sleep_duration=bool(m_1)
print (m_1>=7 and m_1<=9)

True

In [ ]:
m=690
optimal_sleep_duration=bool(m//60)
print (optimal_sleep_duration>=7 and optimal_sleep_duration<=9)

False

В переменной x хранится целое число. Проверьте, делится ли это число без остатка на 3 и на 7. Результат сохраните в переменную result. Переменная result должна иметь логический тип данных.

Если x = 7, то  result = False. Если x = 21, то result = True.

In [ ]:
x = 21
result = (x % 3 == 0) and (x % 7 == 0)
print(result)

True

In [ ]:
string1 = '\'Манчестер Юнайтед\' - чемпион Англии!\n2013'
print(string1)

'Манчестер Юнайтед' - чемпион Англии!
2013

In [ ]:
print("Hello\nworld!")
print("C:\\Users\\user\\Desktop\\file.txt")
print("Name:\tJohn")
print('It\'s a beautiful day!')
print("It's a beautiful day!") # так тоже можно

Hello
world!
C:\Users\user\Desktop\file.txt
Name:	John
It's a beautiful day!
It's a beautiful day!

Сохраните в переменную square строку, которая выводит на экран прямоугольник 4 х 4, сформированный из звездочек, разделенных пробелом.

In [ ]:
square = '* * * *\n* * * *\n* * * *\n* * * *'
print (square)

* * * *
* * * *
* * * *
* * * *

# **LESSON 2**

В my_list сохранен список как минимум с двумя элементами.

В переменную first_item сохраните первый элемент списка.

В переменную last_item сохраните последний элемент списка.

В переменную reversed_list сохраните все элементы списка my_list в обратном порядке.

В переменную even_items сохраните все элементы my_list с четными индексами.

In [ ]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]

first_item = 'Anatoly'
last_item = 3
reversed_my_list = [3, 2, 1, 'Fedor', 'Anatoly']
even_items = ['Anatoly', 1, 3]

In [ ]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]
first_item = my_list[0]
last_item = my_list[-1]
reversed_list = my_list[::-1]
even_items = my_list[::2]

print (first_item)
print (last_item)
print (reversed_list)
print (even_items)

Anatoly
3
[3, 2, 1, 'Fedor', 'Anatoly']
['Anatoly', 1, 3]

В переменную var_1 сохраните список с числами от -100 до 100 включительно с шагом в 1.

В переменную var_2 сохраните список с числами от 250 до 0 включительно с шагом в 2.

В переменную var_3 сохраните список со всеми нечетными числами от 100 до 200.

In [ ]:
var_1=list(range(-100,101, 1))
var_2=list(range(250,-1, -2))
var_3 = []
for num in range(100, 201):
    if num % 2 != 0:
        var_3.append(num)

var_4 = list(range(101, 200, 2))

print (var_1)
print (var_2)
print (var_3)
print (var_4)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[250, 248, 246, 244, 242, 240, 238, 236, 234, 232, 230, 228, 226, 224, 222, 220, 218, 216, 214, 212, 210, 208, 206, 204, 202, 200, 198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]
[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

В переменных  a и b хранятся числа — начало и конец диапазона. Напишите программу, которая вернет сумму всех чисел из этого диапазона. Сохраните значение в переменную result.

In [ ]:
a=1
b=3
my_list=sum(list(range(a,b+1)))
result=my_list
print (result)
#print (sum(my_list))

6

Давайте потренируемся использовать различные методы списков. В переменной my_list сохранен не пустой список, в котором есть число 11.

Найдите первый индекс числа 11 в my_list, сохраните индекс в переменную eleven_index.  

В переменную ten_count сохраните, сколько раз в списке my_list встречается число 10.

In [ ]:
my_list = [1, 10, 0, 10, 11]

eleven_index = my_list.index(11, 0, 100000000000000000000)
#eleven_index = my_list.index(11)
ten_count = my_list.count(10)
print(eleven_index)
print(ten_count)

4
2

В student_names сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.

В scores сохранен список из десяти целых чисел, удалите из него второй, пятый и последний элемент.

В lessons сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту.

In [ ]:
#student_names = ['Ian', 'Ivan']
student_names.extend(['Anatoly', 'Oksana'])
print (student_names)

# scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
scores.pop(1)
print (scores) #[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
scores.pop(3)
print (scores) #[0, 2, 3, 5, 6, 7, 8, 9, 10]
scores.pop()
print (scores) # [0, 2, 3, 5, 6, 7, 8, 9]

#lessons = ['Python', 'Analytics']
lessons.sort()
print (lessons)

['Ian', 'Ivan', 'Anatoly', 'Oksana']
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 3, 5, 6, 7, 8, 9, 10]
[0, 2, 3, 5, 6, 7, 8, 9]
['Analytics', 'Python']

In [ ]:
month_index = 0
month_name = months[month_index]
print(month_name) # => 'January'

January

Создайте кортеж с названиями дней недели и сохраните его в переменную days_of_the_week.

In [ ]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print (days_of_the_week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

В переменной numbers_list сохранен список с целыми числами. В списке минимум два разных целых числа.

В переменную numbers_list_ordered сохраните все числа из списка numbers_list, отсортированные по убыванию. При этом сам список numbers_list не должен изменяться.

В переменную numbers_set сохраните множество из уникальных чисел из списка numbers_list. Дополните это множество следующим целым числом после максимального числа из numbers_list.

В переменную numbers_frozenset сохраните неизменяемое множество из всех уникальных чисел из списка numbers_list, кроме минимального числа.

In [ ]:
# Пример 1
numbers_list = [1, 5, 3, 3, 5]

numbers_list_ordered = [5, 5, 3, 3, 1]
numbers_set = set([1, 3, 5, 6])
numbers_frozenset = frozenset([3, 5])


# Пример 2
numbers_list = [-1, 0, 1]

numbers_list_ordered = [1, 0, -1]
numbers_set = set([-1, 0, 1, 2])
numbers_frozenset = frozenset([0, 1])


# Пример 3
numbers_list [-1, -5, -1]

numbers_list_ordered = [-1, -1, -5]
numbers_set = set([-5, -1, 0])
numbers_frozenset = frozenset([-1])

In [ ]:
numbers_list = [-1, -5, -1]
print ('input_list = ', numbers_list)

numbers_list_ordered = numbers_list.copy()
numbers_list_ordered.sort(reverse=True)
print ('orderder_list = ', numbers_list_ordered)

numbers_set_1 = set(numbers_list)
numbers_set = numbers_set_1.copy()
max_number_set = max(numbers_set_1)                                                  #print (numbers_set)
numbers_set = numbers_set_1.add(max_number_set+1)                                    #print (max_number_set)
numbers_set = list(numbers_set_1)
numbers_set.sort()
print ('unique_set = ',numbers_set)

numbers_frozenset = frozenset(numbers_list)                                         #print (numbers_frozenset)
min_number_set = min(numbers_frozenset)                                             #print (min_number_set)
numbers_frozenset = list(numbers_frozenset)
numbers_frozenset.remove(min_number_set)
print ('numbers_frozenset = ', numbers_frozenset)

input_list =  [-1, -5, -1]
orderder_list =  [-1, -1, -5]
unique_set =  [-5, -1, 0]
numbers_frozenset =  [-1]

Даны два списка list_1 и list_2. Отсортируйте list_1 по возрастанию, а list_2 по убыванию.
Объедините list_1 и list_2 в один отсортированный по возрастанию список list_3.  
В переменную list_3_len сохраните длину  list_3.

In [ ]:
# Пример
list_1 = [1, 5, 3]
list_2 = [2, 8]
# ->
list_1 = [1, 3, 5]
list_2 = [8, 2]
list_3 = [1, 2, 3, 5, 8]
list_3_len = 5

In [ ]:
list_1 = [1, 5, 3]
list_2 = [2, 8]

list_1.sort()
print (list_1)

list_2.sort(reverse=True)
print (list_2)

list_3 = list_1 + list_2
list_3.sort()
print (list_3)

list_3_len = len(list_3)
print (list_3_len)

[1, 3, 5]
[8, 2]
[1, 2, 3, 5, 8]
5


В переменной menu хранится множество всех позиций меню кофейни, а в переменной stop — множество позиций меню кофейни, недоступных для заказа сегодня. Сохраните в переменную menu_today позиции меню, которые доступны для заказа сегодня.

In [ ]:
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte',
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

menu_today = {'Americano', 'Flat White', 'Latte', 'Chocolate Chip Cookie'}

In [ ]:
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte',
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

menu_today = menu.difference(stop)
print (menu_today)

{'Americano', 'Flat White', 'Latte', 'Chocolate Chip Cookie'}

В переменной my_set множество (set) из чисел. В переменной to_delete число, которое нужно удалить из my_set, если оно там есть. Если такого числа нет в my_set ничего делать не надо.

In [ ]:
my_set = {0, 10, 100}
to_delete = 0
====>
my_set = {10, 100} # удалили 0

my_set = {0, 10, 100}
to_delete = -2
====>
my_set = {0, 10, 100} # ничего не сделали

In [ ]:
my_set = {0, 10, 100}
to_delete = 0
my_set.discard(to_delete)
print (my_set)

{10, 100}

В students хранится множество студентов it-центра МАИ. Студент, имя которого записано в new_student, перевелся в МАИ из другого института, его имя нужно добавить в students. В переменной churn_student — студент, который хочет перевестись из МАИ в другой институт, его имя нужно убрать из students.

In [ ]:
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'

students.add(new_student)
students.discard(churn_student)
print (students)

{'Захарова Мария', 'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Василенко Анна'}

В переменной da_students хранятся имена студентов курса "Аналитик данных", а в переменной dv_students — имена студентов курса "Визуализация данных". Сохраните в переменную students студентов, которые обучаются на обоих курсах.

Порядок элементов в students не имеет значения.

In [ ]:
# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}

students = da_students.intersection (dv_students)
print (students)

{'Loginov Vladislav', 'Ershova Anna'}

В переменной a хранится список целых неотрицательных чисел. Количество чисел четное.
Напишите программу, которая будет делить этот список пополам, определять суммы чисел в половинах списка (sum_left и sum_right). Если sum_left равно sum_right, то сохраните в переменную result значение True,  в противном случае — False.

In [ ]:
a = [1, 2, 4, 3]

sum_left = 3
sum_right = 7
result = False

In [ ]:
from pickle import TRUE
a = [1, 2, 4, 3]
length = len(a)
middle=length//2
left = a[:middle]
right = a[middle:]

sum_left = sum(left)
sum_right = sum(right)
print (middle)
print (left)
print (right)
print (sum_left)
print (sum_right)

if sum_left==sum_right:
    result = True
else: result = False
print (result)

2
[1, 2]
[4, 3]
3
7
False

Даны список целых чисел a и число b. Удалите из a первое и последнее вхождение числа b.

In [ ]:
a = [1, 2, 2, 1, 3, 2, 3]
b = 1
# -> a = [2, 2, 3, 2, 3]

a = [1, 2, 2, 1, 3, 2, 3]
b = 2
# -> a = [1, 2, 1, 3, 3]

In [ ]:
a = [1, 2, 2, 1, 3, 2, 3]
b = 1
indices = [i for i in range(len(a)) if a[i] == b]
min_indices = min(indices)
max_indices = max(indices)
print (indices)
print (min_indices)
print (max_indices)
a.pop(min_indices) & a.pop(max_indices-1)
print (a)

[0, 3]
0
3
[2, 2, 3, 2, 3]

# **LESSON 3**

In [ ]:
# создаем словарь, который хранит информацию о студентах
students = {
    'Василий': {'возраст': 23, 'курс': 3},
    'Мария': {'возраст': 20, 'курс': 2},
    'Петр': {'возраст': 22, 'курс': 2},
    'Ольга': {'возраст': 21, 'курс': 3}
}
# выводим информацию о студенте с именем "Василий"
print(students['Василий'])
# выводим возраст студента "Мария"
print(students['Мария']['возраст'])

{'возраст': 23, 'курс': 3}
20

В переменную cities_population  сохраните словарь с тремя ключами: 'Москва', 'Париж', 'Токио'. В качестве значений сохраните населедение этих городов в млн. человек: 11.98, 2.16, 13.96. Ключами нашего словаря будут строки, значениями — числа в формате float.

In [ ]:
cities_population = {
                   'Москва': float(11.98),
                    'Париж': float(2.16),
                    'Токио': float(13.96)
}
print (cities_population)

{'Москва': 11.98, 'Париж': 2.16, 'Токио': 13.96}

Дан словарь dict_input. Поменяйте ключи и значения местами. Результат сохраните в result.

In [ ]:
dict_input = {"1": 11, "2": 22, "3": 33}
result = {11: "1", 22:"2", 33:"3"}

In [ ]:
dict_input = {"1": 11, "2": 22, "3": 33}
keys=list(dict_input.keys())
values=list(dict_input.values())
print (keys, values)
result = dict(zip(values, keys))
print (result)

['1', '2', '3'] [11, 22, 33]
{11: '1', 22: '2', 33: '3'}

Катя — владелец небольшого кондитерского производства, на котором изготавливаются эклеры.
У нас  есть словарь data, в котором содержится информация о себестоимости единицы товара cost_price, продажную цену sell_price и количество товара eclairs.
Нужно посчитать, какую прибыль Катя получает после продажи своей продукции. Результат сохраните в переменную result, округлив сумму до целого числа.

In [ ]:
data = {
  "cost_price": 225.89,
  "sell_price": 550.00,
  "eclairs": 100
}
result = 32411

In [ ]:
data = {
  "cost_price": 225.89,
  "sell_price": 550.00,
  "eclairs": 100
}
cost=data['cost_price']
sell=data['sell_price']
count=data['eclairs']
result=round(sell*count-cost*count)
print(result)

32411

Есть словарь student, в котором хранятся имя студента и список его оценок. В result  сохраните словарь с именем студента и самой высокой его оценкой.

In [ ]:
student = {"name": "Igor", "notes": [4, 5, 4]}
result = {"name": "Igor", "max_note": 5}

In [ ]:
student = {"name": "Igor", "notes": [4, 5, 4]}
max_notes=max(student['notes'])
print (max_notes)
result = student.items()
print (result)

5
dict_items([('name', 'Igor'), ('notes', [4, 5, 4])])

Антон учится в karpov.courses. В словаре anton_courses хранится информация о завершенных им курсах и количестве набранных баллов. Данные в словаре хранятся в формате ключ — название курса, значение — количество баллов в числовом формате.
Антон завершил обучение на курсе HardML и набрал 120 баллов. Добавьте в словарь anton_courses эту информацию.
В переменную courses сохраните список пройденных курсов.
В переменную StartML сохраните количество баллов, набранное Антоном на одноименном курсе, эта информация есть в словаре.

In [ ]:
anton_courses = {'SimulatorAnalyst': 56,
                 'StartML': 87,
                 'DataAnalyst': 140}
# ->
anton_courses = {'SimulatorAnalyst': 56,
                 'StartML': 87,
                 'DataAnalyst': 140,
                 'HardML': 120}
courses = ['SimulatorAnalyst', 'StartML', 'DataAnalyst', 'HardML']
StartML = 87

In [ ]:
anton_courses = {'SimulatorAnalyst': 56,
                 'StartML': 87,
                 'DataAnalyst': 140}
anton_courses_1 = {'HardML': 120}
anton_courses.update(anton_courses_1)
print (anton_courses)
courses = list(anton_courses.keys())
print  (courses)
StartML = anton_courses['StartML']
print (StartML)

{'SimulatorAnalyst': 56, 'StartML': 87, 'DataAnalyst': 140, 'HardML': 120}
['SimulatorAnalyst', 'StartML', 'DataAnalyst', 'HardML']
87

У нас есть магазин одежды LARA. В словаре shop_stock хранится информация о товарах, имеющихся в наличии на складе магазина. Информация указана в формате ключ — артикул товара, значение — количество единиц.
В магазин поставили новую партию товаров, в словаре shop_new_goods записана информация о поставленых товарах и их количестве.
Создайте словарь result, который будет содержать информацию и о товарах на складе, и о товарах из новой поставки. Известно, что если на складе оставалась хотя бы одна единица какого-то типа товара, то товара этого типа не было в поставке.

In [ ]:
shop_stock = {"2358241350-50": 1, "2358000350-30": 24, "2358241350-00": 3}
shop_new_goods = {"2358241350-60": 10}

result = {"2358241350-50": 1, "2358000350-30": 24, "2358241350-00": 3, "2358241350-60": 10}

In [ ]:
shop_stock = {"2358241350-50": 1, "2358000350-30": 24, "2358241350-00": 3}
shop_new_goods = {"2358241350-60": 10}
#result = shop_stock.update(shop_new_goods)
#print (shop_stock)
#print (result)
shop_stock_1 = list (shop_stock.items())
shop_new_goods_1 = list (shop_new_goods.items())
#print (shop_stock_1)
#print (shop_new_goods_1)
result = dict(shop_stock_1 + shop_new_goods_1)
print (result)

{'2358241350-50': 1, '2358000350-30': 24, '2358241350-00': 3, '2358241350-60': 10}

Магазин ВкуссЧилл хранит информацию о имеющихся в наличии фруктах и овощах в словаре input_dict в формате ключ — название фрукта или овоща, значение — количество килограмм в наличии. Посчитайте, сколько всего килограммов фруктов и овощей имеется в магазине. Результат сохраните в переменную result.

In [ ]:
input_dict = {"морковь": 10.44, "капуста": 5.06, "клубника": 3}
result = 18.5

In [ ]:
input_dict = {"морковь": 10.44, "капуста": 5.06, "клубника": 3}
result = sum(input_dict.values())
print (result)

18.5

Имеется словарь courses, содержащий информацию о стоимости обучения в karpov.courses в формате:
ключ — название курса
значение — стоимость обучения

Найдите цену самого дорогого курса. Результат сохраните в  result.

In [ ]:
courses = {"Python": 80000, "SQL": 300000}
result = 300000

In [ ]:
courses = {"Python": 80000, "SQL": 300000}
result = max(courses.values())
print (result)

300000

В базе данных МАИ информация о студентах и кафедрах, к которым они прикреплены, хранится в словаре kaf_sudents в формате:
ключ — ФИ студента
значение — код кафедры.

После второго курса по итогам последних двух сессий был составлен рейтинг студентов, на основе которого произошло перераспределение студентов по кафедрам. Часть студентов продолжила обучение на своей кафедре, а некоторые студенты перешли с одной кафедры на другую. Информация о студентах, перешедших на новую кафедру, хранится в словаре new_kaf_students.

Обновите информацию в словаре kaf_sudents, добабвив в словарь данные из new_kaf_students.

In [ ]:
kaf_sudents  = {'Карпов Анатолий Дмитриевич': 100}
new_kaf_students =  {'Иванчей Иван Иванович': 200}

kaf_sudents = {'Карпов Анатолий Дмитриевич': 100, 'Иванчей Иван Иванович': 200}

In [ ]:
kaf_sudents  = {'Карпов Анатолий Дмитриевич': 100}
new_kaf_students =  {'Иванчей Иван Иванович': 200}

kaf_sudents.update(new_kaf_students)
print (kaf_sudents)

{'Карпов Анатолий Дмитриевич': 100, 'Иванчей Иван Иванович': 200}

# **LESSON 4**

В переменных str_1 и str_2 сохранены две строки. Если строки содержат одинаковые буквы, вам нужно сохранить в переменную is_the_same_letters значение True, если буквы в строках отличаются —сохраните в переменную значение False.

In [ ]:
str_1 = 'AaB'
str_2 = 'Ab'
is_the_same_letters = True

str_1 = 'Aa'
str_2 = 'AaB'
is_the_same_letters = False

In [ ]:
str_1 = 'AaB'
str_2 = 'Ab'
string_1=set(str_1.lower())
string_2=set(str_2.lower())
is_the_same_letters=string_1==string_2
print (is_the_same_letters)

True

В переменной x содержится число с десятичной частью но в формате строки. В переменную y сохраните целое число, которое равняется десятичной части числа x.

In [ ]:
x = 3.14
y = 14

x = 2.02
y = 2

In [ ]:
x = 3.03
q=str(x)
z=q.split(".")[1]
y=int(z)
print(y)

3

Даны две строки str_1 и str_2. Сохраните в result True, если str_1 является анаграммой str_2, и False в противном случае. Регистр букв (большая или маленькая буква) не должен влиять на работу программы. То есть 'Кот' и 'Ток' 'это валидная анаграмма.

In [ ]:
str_1 = "Привет"
str_2 = "Провал"
result = False

str_1 = "Кот"
str_2 = "Ток"
result = True

In [ ]:
str_1 = "гора"
str_2 = "рогаааа"
q1= sorted(str_1.lower())
q2= sorted(str_2.lower())
print (q1,q2)
result = q1 == q2
print (result)

['а', 'г', 'о', 'р'] ['а', 'а', 'а', 'а', 'г', 'о', 'р']
False

В переменную a сохранено некоторое предложение, в котором могут быть добавлены лишние пробелы.  Напишите программу, которая будет убирать из а лишние пробелы и сохранять результат в переменную result.
Все слова должны быть разделены одним пробелом, а в начале и конце предложения пробелов быть не должно.

In [ ]:
a = "Я     изучаю   новый язык      программирования.   "
result = "Я изучаю новый язык программирования."

In [ ]:
a = "Я     изучаю   новый язык    программирования.   "
result = " ".join(a.split())
print(result)

Я изучаю новый язык программирования.

Напишите программу, основываясь на вводе и выводе в примерах. Вводом будет строка a. Результат сохраните в result.

In [ ]:
a = "div*2"
result = "<div></div><div></div>"

a = "p*1"
result = "<p></p>"

a = "li*3"
result = "<li></li><li></li><li></li>"

In [ ]:
a = "p*1"
tag = a.split('*')[0]
num = a.split('*')[1]
print (tag)
print (num)
result = ("<" + tag + ">" + "</" + tag + ">") * int(num)
print (result)

p
1
<p></p>

Напишите программу, которая будет принимать строку из слов и возвращать строку, в которой эти слова будут отсортированы в лексикографическом порядке. Исходная строка содержится в переменной x, результат сохраните в result.

Пример:

In [ ]:
x = 'У лукоморья дуб зелёный'
result = 'У дуб зелёный лукоморья'

In [185]:
x = 'У лукоморья дуб зелёный'

word = x.split()[0]
word_1 = set(x.split()[1:])
sort = sorted(x)
print (word)
print (word_1)

TypeError: ignored

In [ ]:
#word = x.split()[0]
#print (word)

Посчитайте, сколько раз в предложении x встречается строка y. Результат сохраните в переменную result.

In [ ]:
x = 'На подоконнике в гостиной у бабушки росли цветы, цветы были красные и желтые, очень красивые цветы.'
y = 'цветы'
result = 3

In [186]:
x = 'На подоконнике в гостиной у бабушки росли цветы, цветы были красные и желтые, очень красивые цветы.'
y = 'цветы'
result = x.count(y)
print (result)

3

Напишите программу, которая будет принимать номер кредитной карты card и возвращать номер карты, в котором будут видны только последние 4 цифры. Остальные цифры должны заменяться звездочками. Результат сохраните в result.

In [ ]:
card = '5468350018455833'
result = '************5833'

In [206]:
card = '5468350018455833'
card_list = list(card)
print (card_list)
first_number = card_list [:-4]
zz = str(first_number)
qq = first_number.replace('','*')
print (first_number)
print (qq)



string = "hello, world!"
new_string = string.replace("world", "there")
print(new_string) # "hello, there!"

['5', '4', '6', '8', '3', '5', '0', '0', '1', '8', '4', '5', '5', '8', '3', '3']

AttributeError: ignored

В переменной а сохранено предложение. Удалите из предложения все вхождения слова или символа b. Результат сохраните в result.

In [ ]:
a = 'Я помню чудное мгновенье'
b = 'о'
result = 'Я пмню чудне мгнвенье'

In [225]:
a = 'Я помню чудное мгновенье'
b = 'о'
result = a.replace (b, "")
print(result)

Я пмню чудне мгнвенье