<a href="https://colab.research.google.com/github/Stanislaff-666/python_practice/blob/main/Numpy_%D0%9E%D0%B4%D0%BD%D0%BE%D0%BC%D0%B5%D1%80%D0%BD%D1%8B%D0%B5_%D0%BC%D0%B0%D1%81%D1%81%D0%B8%D0%B2%D1%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import numpy as np
a=np.arange(1,10.5,0.5)
print(a)

[ 1.   1.5  2.   2.5  3.   3.5  4.   4.5  5.   5.5  6.   6.5  7.   7.5
  8.   8.5  9.   9.5 10. ]

In [ ]:
import numpy as np
a=np.linspace(-5,5,10)
print(a)

[-5.         -3.88888889 -2.77777778 -1.66666667 -0.55555556  0.55555556
  1.66666667  2.77777778  3.88888889  5.        ]

In [ ]:
import numpy as np
a=np.arange(10,0.5,-1)
print(a)

[10.  9.  8.  7.  6.  5.  4.  3.  2.  1.]

In [ ]:
import numpy as np
a=int(input('введите число'))
arr=np.random.rand(a)
print(arr)

введите число10
[0.09178413 0.34518624 0.66275252 0.44171349 0.55148779 0.70371249
 0.58940123 0.04993276 0.56179184 0.76635847]

На вход подаются 2 числа a и b в виде строки чисел через пробел. Создайте массив NumPy, содержащий числа от a до b включительно, кратные 3, выведите его на экран,

In [ ]:
import numpy as np
a, b = map(int, input().split())
arr = np.arange(a, b + 1, 1)
res = []
for i in arr:
  if i % 3 == 0:
    res.append(i)
print(np.array(res))

-5 15
[-3  0  3  6  9 12 15]
[-3, 0, 3, 6, 9, 12, 15]

На вход подается целое число n. Cоздайте массив из n случайных действительных чисел в интервале от 0 до 1 не включительно.

Важно: перед генерацией чисел используйте строчку np.random.seed(32).

In [ ]:
import numpy as np
a=int(input())
np.random.seed(32)
arr=np.random.rand(a)
print(arr)

10
[0.85888927 0.37271115 0.55512878 0.95565655 0.7366696  0.81620514
 0.10108656 0.92848807 0.60910917 0.59655344]

На вход подается целое число n>=1. Создайте массив, содержащий n первых простых чисел. Выведите его на экран.

In [ ]:
import numpy as np
from sympy import prime
a=int(input())
res = []
nth_prime = prime(range(1,a))
res.append(a)
print(res)

3

ValueError: ignored

In [ ]:
# import sympy
from sympy import prime
n = 5
# Use prime() method
nth_prime = prime(n)
print("The {}th prime is {}".format(n, nth_prime))

The 5th prime is 11

На вход подается 2 действительных числа а>0, b>=0.001. Создайте массив, содержащий числа от -a до числа c <= a, такого что a - c <= b, с шагом b. Числа округляйте до двух знаков после запятой, используя np.round(). Выведите массив на экран.

In [ ]:
a,b=input().split()
x=float(a)
y=float(b)
arr=np.round(np.arange (-x, x + y/10, y),1)
print(arr)

10 .3
[-10.   -9.7  -9.4  -9.1  -8.8  -8.5  -8.2  -7.9  -7.6  -7.3  -7.   -6.7
  -6.4  -6.1  -5.8  -5.5  -5.2  -4.9  -4.6  -4.3  -4.   -3.7  -3.4  -3.1
  -2.8  -2.5  -2.2  -1.9  -1.6  -1.3  -1.   -0.7  -0.4  -0.1   0.2   0.5
   0.8   1.1   1.4   1.7   2.    2.3   2.6   2.9   3.2   3.5   3.8   4.1
   4.4   4.7   5.    5.3   5.6   5.9   6.2   6.5   6.8   7.1   7.4   7.7
   8.    8.3   8.6   8.9   9.2   9.5   9.8]

На вход подается целое число b > 0. Создайте массив numpy, содержащий b чисел от 0 до pi включительно. Для генерации числа пи используйте numpy константу np.pi. Выведите массив на экран.

In [ ]:
import numpy as np
a=int(input())
arr=np.linspace(0,np.pi,a)
print(arr)

10
[0.         0.34906585 0.6981317  1.04719755 1.3962634  1.74532925
 2.0943951  2.44346095 2.7925268  3.14159265]

На вход подается целое число n>1. Создайте numpy массив, содержащий n первых чисел Фибоначчи, выведите его на экран.

In [ ]:
n=int(input())
arr=np.arange(0,n,1)
print(arr)

3
[0 1 2]

In [ ]:
fib1 = fib2 = 1
n = int(input())
print(fib1, fib2, end=' ')

for i in range(2, n):
    fib1, fib2 = fib2, fib1 + fib2
    print(fib2, end=' ')

5
1 1 2 3 5

In [ ]:
import numpy as np
fNumber = int(input())
a = np.arange(0, fNumber)
length_a = len(a)

sqrt_five = np.sqrt(5)
alpha = (1 + sqrt_five) / 2
beta = (1 - sqrt_five) / 2

Fn = np.rint(((alpha ** a) - (beta ** a)) / (sqrt_five))
print(Fn)

5
[0. 1. 1. 2. 3.]

На вход подается целое число n>0, cоздайте одномерный массив numpy, состоящий из n элементов, равных числу pi, и выведите его на экран.

In [ ]:
import numpy as np
n = int(input())
print(np.full(n, np.pi))

2
[3.14159265 3.14159265]

На вход подается строка слов, разделенных пробелом, создайте одномерный массив numpy, содержащий эти слова. Выведите массив на экран.

In [ ]:
import numpy as np
a=input()
arr=np.array(a.split())
print(arr)

sd dns sdksl sj
['sd' 'dns' 'sdksl' 'sj']

На вход подается строка, создайте одномерный массив numpy, содержащий символы этой строки. Выведите массив на экран

In [ ]:
import numpy as np
a=input()
list_1=list(a)
arr=np.array(list_1)
print(arr)

аро длы фвфыв98 фы_о
['а' 'р' 'о' ' ' 'д' 'л' 'ы' ' ' 'ф' 'в' 'ф' 'ы' 'в' '9' '8' ' ' 'ф' 'ы'
 '_' 'о']

На вход подается строка состоящая из слов, разделенных пробелом. Создайте одномерный массив, содержащий длины этих слов. Выведите массив на экран.

In [ ]:
import numpy as np
q = input()
word=q.split()
word_lengths = [len(word) for word in words]
arr=np.array(word_lengths)
print(arr)

аро длы фвфыв98 фы_о
[3 3 7 4]

На вход поступают две строки, состоящие из чисел, разделённых пробелом.

Необходимо создать два массива numpy a и b, в которые поместить эти числа. При этом нужно правильно определить какой тип использовать, исходя из данных, содержащихся в строках.

Затем на основе данных второго массива b необходимо создать третий c, значения которого взяты из второго массива b, а тип данных равен типу данных первого массива a.

Полученные три массива a, b, c вывести на экран в порядке их создания через пробел.

In [ ]:
import numpy as np
data_1=list(input())
data_2=list(input())
qs=data_1.dtype
qx=type(data_2)
print(qs, qx)

1 2 3
2.2 2 2

AttributeError: ignored

In [ ]:
import numpy as np
data_1=input()
data_2=input()
arr1 = np.fromstring(data_1, dtype=None, sep=" ")
arr2 = np.fromstring(data_2, dtype=None, sep=" ")
print(arr1, arr2)

1 2 3
2.2 2 2
[1. 2. 3.] [2.2 2.  2. ]

In [ ]:
import numpy as np
s1=np.array(input().split())
s2=np.array(input().split())
a=s1.dtype
b=s2.dtype
print (a, b)

1 2 3
2.2 2 2
<U1 <U3

In [ ]:
import numpy as np
data_1=input().split()
data_2=input().split()
for i in data_1:
  if i%1==0:
    data_1.astype(int)
  else:
    data_1
print(type(data_1))

1 2 3
2.2 2 2

TypeError: ignored

Напишите функцию convert_type(), которая принимает на вход одномерный numpy массив и возвращает новый массив того же размера, но с типом данных str.

Нужно только определить функцию, вызывать ее не нужно!

In [ ]:
import numpy as np
arr=np.array(str(input()))
print(type(arr))
print(arr)

2 3.3 5 5
<class 'numpy.ndarray'>
2 3.3 5 5

На вход подается целое число n.

Напишите программу, которая создает одномерный массив из n чисел, равномерно распределенных в диапазоне от 0 до 100 (включительно), и выводит в первой строке сам массив и в следующей строке его размерность, форму и количество элементов через пробел.ndim, shape и size.

In [ ]:
import numpy as np
arr=np.linspace(0, 100, int(input()))
print (arr)
print(arr.ndim, arr.shape, arr.size)

10
[  0.          11.11111111  22.22222222  33.33333333  44.44444444
  55.55555556  66.66666667  77.77777778  88.88888889 100.        ]
1 (10,) 10

На вход подается  строка действительных чисел разделенных пробелом. Напишите программу, которая создает одномерный массив из чисел, введенной строки с типом float16. Выведите на экран данный массив его тип и размер в байтах каждого элемента массива.

In [ ]:
import numpy as np
a=input().split()
arr=np.array(a)
num16 = np.float16(arr)
print(num16)
print (num16.dtype, num16.itemsize)

3.4 6 4.333
[3.4   6.    4.332]
float16 2

In [ ]:
import numpy as np
arr_fl = np.array(input().split(), dtype = np.float16)
print(arr_fl)
print(arr_fl.dtype, arr_fl.itemsize)

3.4 6 4.333
[3.4   6.    4.332]
float16 2

На вход подается строка целых чисел, разделенных пробелом, в которой содержится количество проданных за день билетов в течение прошедшей недели.

Создайте массив NumPy из этих данных, используйте тип int64. Выведите на экран сам массив в первой строке, среднее количество проданных за неделю билетов, округленное до трех знаков после запятой, и  тип данных массива через пробел во второй строке.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int64)
print(arr)
print(round(sum(arr)/len(arr),3), arr.dtype)

100 200 300 150 250 175 225
[100 200 300 150 250 175 225]
200.0 int64

На вход поступает строка целых чисел, разделенных запятой с пробелом, в которой записана температура в городе N за каждый день месяца.

Создайте массив numpy из данных о температуре в городе за каждый день месяца. Выведите на экран максимальную температуру в городе за месяц, размерность массива, его форму и тип, в одной строке, через пробел.

In [ ]:
import numpy as np
arr=np.array(input().split(', '), dtype=np.int32)
print (max(arr), arr.ndim, arr.shape, arr.dtype)

10, 15, 20, 25, 20, 18, 16, 21, 23, 22, 19, 14, 12, 11, 13, 17, 18, 19, 20, 22, 25, 27, 24, 23, 20, 18, 16, 12, 10, 11
27 1 (30,) int32

На вход поступает строка целых чисел, в которой содержатся данных о загрязнении воздуха за некоторый период времени.

Создайте массив numpy из данных о загрязнении воздуха. Выведите на экран количество дней в году, когда уровень загрязнения воздуха превышал норму. Нормой считайте значение 45.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
result=0
for i in arr:
  if i>45:
    result+=1
print(result)

33 57 87 51 31 31 87 37 65 98 91 41 29 59 43 41 68 39 65 17 11 66 1 74 77 91 79 54 43 19 41 4 45 9 36 55 86 29 29 18 71 90 68 40 39 57 63 24 24 13 32 48 27 3 28 95 19 64 42 60 33 86 23 96 54 1 25 49 79 94 77 44 44 79 53 66 25
37

Лесной гном собирает золотые яблоки, которые растут на деревьях в его лесу. Он создает массив numpy из количества яблок, которые он нашел на каждом дереве. Выведите на экран суммарное количество яблок, найденных гномом. Определите тип данных массива.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
print(sum(arr), arr.dtype)

40 12 28 4 7 38 21 9 3 5 42 26 34 4 7 12 36 22 22 6 35 19 4 44 32 38 7 11 30 26 5 33 7
669 int32

Маленький рыцарь отправляется на поиски драконьего гнезда. Он создает массив numpy из количества драконов в каждом гнезде, которые он обнаруживает в своем путешествии. Выведите на экран наименьшее количество драконов в гнезде и индекс гнезда с максимальным количеством драконов. Если ему повстречалось несколько гнезд с максимальным количеством драконов, выведите индекс первого встретившегося ему гнезда.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
max=arr.max()
list_1=list(arr)
q=list_1.index(max)
print (min(arr), q)

18 44 10 9 7 31 18 21 40 41 42 6 16 39 41 5 14 26 2 32 34 17 20 26 14 36 12 3 6 12 44 17 10
2 1

Пираты обнаруживают сундук с сокровищами на необитаемом острове. Они создают массив numpy из веса каждой монеты в сундуке, округляя вес каждой монеты до трех знаков после запятой. Выведите на экран суммарный вес сокровищ, которые они обнаружили, и определите тип данных массива.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.float64)
print (sum(arr), arr.dtype)

164.357 248.462 337.148 1.408 661.915 376.46 452.997 364.914 366.963 50.349 104.352 17.029 373.695 386.679 313.316 67.886 659.198 191.347 39.324 300.299 367.913 172.754 564.768 455.142 572.764 517.435 329.967 435.285 567.868 228.024 243.25 567.91 226.866
10728.044 float64

Принцесса хранит свои волшебные заклинания в заколдованном замке. Она создает массив NumPy из слов заклинания. Выведите на экран количество слов заклинания с нечетным количеством символов и количество слов заклинания, в которых больше 5 символов. Определите тип данных массива.

Слово - последовательность символов, разделенная пробелами.

In [ ]:
import numpy as np
arr=np.array(input().split())
res=0
res1=0
for i in arr:
  if len(i)>5:
    res+=1
for x in arr:
  if len(x)%2!=0:
    res1+=1
print(res1, res, arr.dtype)

Ветер времени взлетит, чтобы привнести силы в мою сущность, и я стану непобедимой в любой битве
14 5 <U11

Главный историк Средиземья ведет записи о событиях, происходящих в мире. Он создает массив numpy из объектов datetime, представляющих даты ключевых событий в истории мира. Выведите на экран тип данных массива, даты самого раннего и самого позднего событий.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=object)
print(arr.dtype, arr.min(), arr.max())

1598-04-29 1711-11-28 1661-05-06 0869-11-22 0930-05-22 0987-05-06 0827-05-22 1029-11-04 1255-02-12 1123-11-13 1697-03-17 1384-01-21 1408-06-10 1166-09-04 1109-09-18
object 0827-05-22 1711-11-28

Детектив Джо Ривера получил информацию о местонахождении опасного преступника по кличке Кармен. Он создает массив numpy из булевых значений, где True означает наличие признаков, свидетельствующих о присутствии Кармен на заданной территории. Определите тип данных массива и выведите на экран количество локаций, в которых может находиться Кармен.

In [ ]:
import numpy as np
arr=np.array(input().split())
ai=np.array(input().split(), dtype=bool)
res=[]
result=0
for i in arr:
  if i=='True':
    res.append(1)
  else:
    res.append(0)
for i in res:
  if i==1:
    result+=1
print(result, ai.dtype)

True False  True  True  True  True  True  True False False  True  True True False False False  True  True  True  True  True False  True  True True  True False  True False  True False  True False False  True
True False  True  True  True  True  True  True False False  True  True True False False False  True  True  True  True  True False  True  True True  True False  True False  True False  True False False  True
23 bool

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=str)
arr=np.array(arr1, dtype=bool)
res=[]
result=0
for i in arr:
  if i=='True':
    res.append(1)
  else:
    res.append(0)
for i in res:
  if i==1:
    result+=1
print(arr,result, arr.dtype)

True False  True  True  True  True  True  True False False  True  True True False False False  True  True  True  True  True False  True  True True  True False  True False  True False  True False False  True

ValueError: ignored

Шерлок Холмс попросил вас создать массив numpy, в котором содержится информация о телефонных звонках, совершенных потенциальными жертвами серийного убийцы. На вход поступает строка в которой значение 1 в массиве означает, что звонок был совершен в момент времени, когда было совершена убийство. Значение 0 - звонок был совершен в другое время или не был совершен вообще. Создайте массив numpy на основе этой строки, содержащий данные за последний месяц в виде булевых значений. Выведите на экран количество звонков, которые совершались в моменты времени, когда были совершены убийства и тип данных массива, через пробел.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
sum=0
for i in arr:
  if i==1:
    sum+=1
print(sum)

1 0 1 0 1 0 1 1 1 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 1 0 0
0

In [ ]:
import numpy as np
a=list(input().split())
print (a)
arr=np.array(a,dtype=bool)
print(arr)

1 0 1 0 1 0 1 1 1 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 1 0 0
['1', '0', '1', '0', '1', '0', '1', '1', '1', '0', '1', '0', '0', '0', '0', '1', '0', '0', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '0', '0']
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True]

На вход поступают две строки, содержащие целые числа. Необходимо создать на их основе два массива numpy, объединить их, а затем повторить полученный массив три раза. Выведите на экран итоговый массив.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
arr3=np.concatenate((arr1,arr2))
arr3=np.repeat(arr3, 3)
print(arr3)

4 4 16 27 42 49 32 1 5 26 34 37 45 12 2 4 20 14 38 50
21 36 23 30 51 24 10 26 51 26 45 26 11 30 29 49 36 9 13 27
[ 4  4  4  4  4  4 16 16 16 27 27 27 42 42 42 49 49 49 32 32 32  1  1  1
  5  5  5 26 26 26 34 34 34 37 37 37 45 45 45 12 12 12  2  2  2  4  4  4
 20 20 20 14 14 14 38 38 38 50 50 50 21 21 21 36 36 36 23 23 23 30 30 30
 51 51 51 24 24 24 10 10 10 26 26 26 51 51 51 26 26 26 45 45 45 26 26 26
 11 11 11 30 30 30 29 29 29 49 49 49 36 36 36  9  9  9 13 13 13 27 27 27]

На вход поступают две строки. В первой строке содержится последовательность целых чисел, разделенных пробелом, во второй строке целое число i. Из первой строки нужно создать массив numpy и затем удалить из него с помощью функции delete() элемент с индексом i. Выведите на экран исходный и итоговый массивы, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input(), dtype=np.int32)
print (arr1)
arr1=np.delete(arr1, arr2)
print(arr1)

28 22 24 9 32 33 53 27 50 30 48 49
4
[28 22 24  9 32 33 53 27 50 30 48 49]
[28 22 24  9 33 53 27 50 30 48 49]

На вход поступают два числа a и b в одной строке, разделенные пробелом. Вам нужно создать массив numpy A чисел от a до b (b включительно, если оно нечетное), содержащий только нечетные числа. Затем создайте новый массив B путем повторения каждого элемента массива А дважды. Выведите на экран исходный A и итоговый массив B, каждый с новой строки.

In [ ]:
import numpy as np
a, b = map(int, input().split())
if b%2!=0:
  arr1=np.arange(a,b+1)
else:
  arr1=np.arange(a,b)
#print(arr1)
arr2=np.empty(0, dtype=int)
for i in arr1:
  if i%2!=0:
    arr2=np.append(arr2, i)
  else:
    arr2
print(arr2)
arr2=np.repeat(arr2,2)
print(arr2)

3 19
[ 3  5  7  9 11 13 15 17 19]
[ 3  3  5  5  7  7  9  9 11 11 13 13 15 15 17 17 19 19]

На вход поступают две строки, содержащие целые  числа, разделенные пробелом. На их основе создайте два одномерных масcива numpy a и b. Далее создайте третий массив c, который состоит из элементов массива a, затем из элементов массива b. Причем каждый элемент в массиве с повторяется 2 раза. Выведите на экран массивы a, b, c каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
arr3=np.concatenate((arr1,arr2)).repeat(2)
print(arr1)
print(arr2)
print(arr3)

19 34 39 -5 41 27 34 8
45 -5 12 6 48
[19 34 39 -5 41 27 34  8]
[45 -5 12  6 48]
[19 19 34 34 39 39 -5 -5 41 41 27 27 34 34  8  8 45 45 -5 -5 12 12  6  6
 48 48]

На вход поступает целое число n. Вам нужно создать массив a из n случайных действительных чисел равномерно распределенных в диапазоне от 0 до 1. Затем создайте массив b, увеличив размер массива a до 2n элементов с помощью функции resize(). Выведите на экран исходный массив a, итоговый массив b, каждый вывод с новой строки.

In [ ]:
import numpy as np
n = int(input())
np.random.seed(n)
arr1=np.random.rand(n)
arr2=np.resize(arr1, (2*n))
print(arr1, arr2, sep='\n')

10
[0.77132064 0.02075195 0.63364823 0.74880388 0.49850701 0.22479665
 0.19806286 0.76053071 0.16911084 0.08833981]
[0.77132064 0.02075195 0.63364823 0.74880388 0.49850701 0.22479665
 0.19806286 0.76053071 0.16911084 0.08833981 0.77132064 0.02075195
 0.63364823 0.74880388 0.49850701 0.22479665 0.19806286 0.76053071
 0.16911084 0.08833981]

На вход поступает строка с целыми числами разделенными пробелами. На основе этой строки необходимо создать numpy массив а. Затем из массива а создайте массив b, в котором удалены все повторяющиеся элементы кроме первого. Порядок оставшихся элементов в массиве b должен совпадать с порядком этих элементов в массиве а. Выведите исходный массив а, итоговый b и тип элементов массива b, каждый вывод с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.empty(0, dtype=int)
for i in arr1:
  if i not in arr2:
    arr2=np.append(arr2, i)
  else:
    arr2
print(arr1)
print(arr2)
print(arr2.dtype)

4 5 2 3 5 3 5 2 3 2 3 5 4 5 2 4 3 3
[4 5 2 3 5 3 5 2 3 2 3 5 4 5 2 4 3 3]
[4 5 2 3]
int64

На вход поступают две строки. В первой содержатся целые числа, разделенные пробелом, во второй одно целое число n. На основе первой строки создать numpy массив a. Далее создать numpy массив b, в котором первым элементом является число n, далее следуют числа массива a. Массивы a и b вывести на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input(), dtype=np.int32)
arr3=np.empty(0, dtype=int)
arr3=np.insert(arr1, 0, arr2)
print(arr1)
print(arr3)

2 24 17 23 29 23 18 26
-1
[ 2 24 17 23 29 23 18 26]
[-1  2 24 17 23 29 23 18 26]

На вход поступают две строки. В первой идут целые числа разделенные пробелом, во второй единственное целое число n. На основе чисел первой строки создайте массив a. Затем на основе массива a создайте массив b, в котором будут числа массива а > n. Порядок чисел в массиве b должен совпадать с порядком в массиве a. При этом типы элементов в массиве a и b должны быть одинаковыми. Выведите на экран массивы a и b, каждый с новой строки.

In [ ]:
import numpy as np
a=np.array(input().split(), dtype=np.int32)
#arr2=np.array(input(), dtype=np.int32)
c=int(input())
b=np.empty(0, dtype=np.int32)
for i in a:
  if i>c:
    b=np.append(b, i)
  else:
    b
print(a, b, a.dtype==b.dtype, sep='\n')

5 0 9 20 14 18 28 26 18 3
9
[ 5  0  9 20 14 18 28 26 18  3]
[20 14 18 28 26 18]
True

На вход поступают две строки. В первой строке расположены целые числа, разделенные пробелом. Во второй строке два целых числа start и end. Создайте массив a на основе чисел первой строки. Затем на основе массива a создайте массив b, который состоит из всех элементов массива a, кроме тех которые находятся на позициях от  start до end+1 не включительно. Выведите на экран массивы a и b каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
a, b = map(int, input().split())
print(arr1)
arr2=np.delete(arr1, np.arange(a,b+1))
print(arr2)

15 21 12 3 27 20 20 27 0 4
3 6
[15 21 12  3 27 20 20 27  0  4]
[15 21 12 27  0  4]

В первой строке поступает целое число n - количество массивов целых чисел, разделенных пробелом, которые поступают на вход в следующих n строках. В последней строке поступает целое число m - максимальное количество элементов в итоговом массиве. Необходимо объединить все массивы и создать массив numpy, назвав его a. Если количество элементов в них больше m, обрезать его. При этом тип итогового массива должен быть int64. Затем вывести итоговый массив на экран.

In [ ]:
import numpy as np
n=int(input())
a=np.array(input().split(), dtype=np.int64)
m=int(input())
a = a[:m]
print(a)
print(a.dtype)

4
22 -8 50 7 27 13 5 3 11 1 10 4 27 20 27 1 10 4 27 20 2 5
10
[22 -8 50  7 27 13  5  3 11  1]
int64

На вход поступает массив элементов, разделенных пробелом в первой строке, необходимо на его основе создать numpy массив a. Во второй строке дается название типа, к которому необходимо привести элементы массива а. Наконец в третьей строке последовательность целых чисел - индексы элементов которые нужно удалить из массива а. Выведите итоговый массив на экран.

In [ ]:
import numpy as np
arr1=np.array(input().split())
t=input()
arr3=np.array(input().split(), dtype=np.int64)
#print(arr1)
qqq=arr1.astype(t)
#print(qqq)
zzz=np.delete(qqq, arr3)
print(zzz)

1 2 3 4 5 6 7
int32
1 3 4
[1 3 6 7]

На вход поступают три строки. В первой и второй строках - числа (действительные или целые), разделенные пробелом. Необходимо на их основе создать два numpy массива a и b. В третьей строке целое число n - размер итогового массива. Необходимо объединить массивы a и b, привести тип элементов получившегося массива к типу элементов первого массива а и привести размер получившегося массива к n. Вывести итоговый массив на экран.

In [ ]:
import numpy as np
s1=input().split()
s2=input().split()
n=int(input())
if '.' in s1[1]:
    arr1=np.array(s1,dtype=np.float64)
else:
    arr1=np.array(s1,dtype=np.int32)
if '.' in s2[1]:
    arr2=np.array(s2,dtype=np.float64)
else:
    arr2=np.array(s2,dtype=np.int32)
tp=arr1.dtype
qq=arr2.astype(tp)
arr3=np.concatenate((arr1,qq))
resized_arr=np.resize(arr3, (n,))
print(resized_arr)

12 3 1 8 9 3 5 3 11 0 11 11 7 8
5.814 18.797 21.87 6.032 3.065 3.861 9.439 11.137 3.36 16.504
18
[12  3  1  8  9  3  5  3 11  0 11 11  7  8  5 18 21  6]

Три мушкетера - Атос, Портос и Арамис - решили объединить свои одномерные массивы numpy целых чисел в один массив. Однако у каждого мушкетера есть свой массив разного размера. Помогите им объединить свои массивы в один массив, используя функцию concatenate.

In [ ]:
import numpy as np
s1=np.array(input().split(), dtype=np.float16)
s2=np.array(input().split(), dtype=np.float16)
s3=np.array(input().split(), dtype=np.float16)
arr1=np.concatenate((s1,s2, s3))
print(arr1)

12 3 1 8 9 3 5 3 11
22 -8 50 7 27
8 9 3 5 4 5 6
[12.  3.  1.  8.  9.  3.  5.  3. 11. 22. -8. 50.  7. 27.  8.  9.  3.  5.
  4.  5.  6.]

В первой строке поступает целое число n - количество массивов с числами, разделенными пробелами. Во второй строке - название типа к которому нужно привести элементы всех массивов, далее в следующих n строках идут сами массивы.  В последней строке идет целое число m - количество элементов, которое должно быть в каждом из массивов. Привести тип элементов всех массивов к необходимому типу, также привести размерность каждого массива к типу n, если при этом размерность нового массива больше, чем исходного, лишние значения заполнить нулями. Вывести все получившиеся массивы на экран через пробел.

In [ ]:
import numpy as np
cnt=int(input().split())
form=input().split()
arr=np.array(input().split())
count_el=input().split()

В древнем доме на окраине города, где жил исследователь мистических артефактов, был обнаружен таинственный массив. Символы на массиве были написаны на древнем языке, и никто не мог прочитать их. Однако массив был наделен темной магией, и когда исследователь начал изучать его, массив начал расширяться и превращаться в портал в иной мир. Помогите исследователю уменьшить размеры массива, используя функцию resize, чтобы остановить его расширение и предотвратить открытие портала в темный мир. Однако, будьте осторожны, вам придется преодолеть множество трудностей и противостоять неизвестным силам, чтобы остановить этот зловещий массив.

In [ ]:
import numpy as np
arr=np.array(input().split())
#arr1=np.resize(arr, 5)
#print(arr1)
arr.resize(5)
print(arr)

4 3 2 12 11 1 4 3 7 11 1 10 2 10 3 8 6 7 7 7 7 6 5 4 7 0 7 5 0 6 9 4 5 5 0 3 12 1 9 1 2 3 8 5 5
['4' '3' '2' '12' '11']

На вход поступает строка целых чисел, разделенных пробелом. Создайте на ее основе numpy массив а. Затем  создайте новый массив b, содержащий только первые 5 элементов исходного массива. Оба массива выведите на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(arr1[:5])
print(arr1)
print(arr2)

30 3 12 8 9 10 3 3 14 16
[30  3 12  8  9 10  3  3 14 16]
[30  3 12  8  9]

На вход поступает последовательность действительных чисел, разделенных пробелом. На ее основе создать одномерный numpy массив чисел a. Затем создать новый массив b, содержащий только последние 3 элемента исходного массива. Оба массива вывести на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.float32)
arr2=np.array(arr1[::-1])
q=arr2[:3]
r=q[::-1]
print(arr1)
print(r)

24 24 15 2 19 4 30 16 32 30
[24. 24. 15.  2. 19.  4. 30. 16. 32. 30.]
[16. 32. 30.]

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.float32)
arr2=np.array(arr1[-3:])
print(arr1)
print(arr2)

24 24 15 2 19 4 30 16 32 30
[24. 24. 15.  2. 19.  4. 30. 16. 32. 30.]
[16. 32. 30.]

На вход поступает строка целых чисел, разделенных пробелом. На ее основе создать одномерный numpy массив чисел a. Затем создать новый массив b, содержащий все элементы исходного массива в обратном порядке. Оба массива вывести на экран, каждый с новой строки

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(arr1[::-1])
print(arr1)
print(arr2)

24 24 15 2 19 4 30 16 32 30
[24 24 15  2 19  4 30 16 32 30]
[30 32 16 30  4 19  2 15 24 24]

На вход поступает строка целых чисел, разделенных пробелом. На ее основе создать одномерный numpy массив чисел a. Затем создать новый массив b, содержащий только элементы исходного массива с нечетными индексами. Оба массива вывести на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(arr1[1::2])
print(arr1)
print(arr2)

20 8 3 25 16 9 16 20 2 10
[20  8  3 25 16  9 16 20  2 10]
[ 8 25  9 20 10]

На вход поступает строка целых чисел, разделенных пробелом. На ее основе создать одномерный numpy массив чисел a. Затем создать новый массив b, содержащий элементы исходного массива, кроме первых 3 и последних 2. Оба массива вывести на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(arr1[3:-2])
print(arr1)
print(arr2)

3 27 1 11 0 26 23 16 21 11 5
[ 3 27  1 11  0 26 23 16 21 11  5]
[11  0 26 23 16 21]

На вход поступает строка целых чисел, разделенных пробелом. На ее основе создать одномерный numpy массив чисел a. Затем создать новый массив b, содержащий все элементы исходного массива, с индексами кратными 3. Оба массива вывести на экран, каждый с новой строки.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(arr1[::3])
print(arr1)
print(arr2)
#b = np.array([a[i] for i in range(len(a)) if i % 3 == 0])

17 0 10 17 23 8 28 16 14 7 31 7 17 21 22 5 31 31 8 6 16 20 26 23 31
[17  0 10 17 23  8 28 16 14  7 31  7 17 21 22  5 31 31  8  6 16 20 26 23
 31]
[17 17 28  7 17  5  8 20 31]

На вход поступает две строки, содержащие одинаковое количество целых чисел, разделенных пробелом. На их основе создать список numpy, состоящий из элементов, которые находятся на четных позициях первого списка, затем следуют элементы, стоящие на нечетных позициях второго списка. Если длина списков нечетная, то последний элемент не учитывается. Полученный список вывести на экран.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
if len(arr1)%2!=0 and len(arr2)%2!=0:
  g=arr1[:-1]
  b=arr2[:-1]
else:
  g=arr1
  b=arr2
arr1_1=np.array(g[::2])
arr2_2=np.array(b[1::2])
arr_rez=np.concatenate((arr1_1,arr2_2))
print(arr_rez)

27 22 24 1 26 20 6 14 31 7 31
83 92 1 49 43 45 78 6 27 33 27
[27 24 26  6 31 92 49 45  6 33]

Золушка готовится к балу, но у нее нет подходящих туфель. Ей нужно найти туфли, которые подойдут по размеру, а размер у нее это целое число, которое поступает на вход в первой строке. Во второй строке поступает массив, в котором каждый элемент - это размер туфель. Найдите все туфли, которые подходят Золушке. В качестве ответа выведите numpy массив из индексов туфель, которые подходят Золушке.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
result = np.where(arr2 == arr1)
print(result[0])

33
37 37 40 36 36 41 36 42 40 36 39 36 41 36 41 34 33 35 41 37 35
[16]

Вы исследуете древний храм, где вам нужно разгадать загадку, чтобы достать древний артефакт. Загадка представляет собой одномерный массив, который нужно перевернуть задом наперед, чтобы получить правильный ответ. Вы можете использовать срезы одномерных массивов numpy, чтобы перевернуть массив и раскрыть тайну.

In [ ]:
import numpy as np
sl=list(input())
sl.reverse()
arr=np.array(sl)
print(arr)

имактеверксордеввлапуток
['к' 'о' 'т' 'у' 'п' 'а' 'л' 'в' 'в' 'е' 'д' 'р' 'о' 'с' 'к' 'р' 'е' 'в'
 'е' 'т' 'к' 'а' 'м' 'и']

Волшебная рыбка просит вас помочь ей отсортировать массив чисел. Она хочет, чтобы вы взяли первые 5 элементов массива и отсортировали их по убыванию. Затем вы должны взять последние 3 элемента массива и отсортировать их по возрастанию. Затем выведите получившийся массив в виде чисел, разделенных пробелом, на экран. Если вы выполните ее просьбу, она исполнит любое ваше желание.

In [ ]:
import numpy as np
a = np.array(input().split(), dtype=np.int32)
b = sorted(a[:5], reverse=True)
c = sorted(a[-3:])
d = np.concatenate((b, c))
print(*d)

37 41 37 37 41 38 33 37 38 41 3
41 41 37 37 37 3 38 41

In [ ]:
import numpy as np
sl=np.array(input().split(), dtype=np.int32)
sl_left=sl[:5]
sl_right=sl[-3:]
q=-np.sort(-sl_left)
a=np.sort(sl_right)
rez=np.concatenate((q,a))
rezz=' '.join(map(str, rez))
print(rezz)

37 41 37 37 41 38 33 37 38 41 3
41 41 37 37 37 3 38 41

Колдунья дала вам массив чисел и просит вас изменить его содержимое. Она хочет, чтобы вы взяли каждый второй элемент массива, начиная со второго, и заменили их на 0. Затем она хочет, чтобы вы взяли последние 3 элемента массива и заменили их на 1. Отдайте ей итоговый массив.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int64)
b=np.empty(0, dtype=np.int64)
for i in arr:
  if arr[i]%2!=0:
    np.append(b,0)
  else:
    np.append(b,i)
print (b)

37 39 37 41 37 37 41 38 33 37 38 41 34 41 40 39 36 34 37 34 39 33 39 35 42 42 36

IndexError: ignored

Сказочная змея просит вас помочь ей с ее массивом. Она хочет, чтобы вы взяли первые 3 элемента массива и поместили их в новый массив. Затем вы должны взять каждый 4-ый элемент массива, начиная с четвертого и поместить его в тот же новый массив. Наконец, она хочет, чтобы вы взяли последние 4 элемента массива и поместили их в конец нового массива. После этого отдайте ей получившийся массив и она сможет заснуть на следующие 1000 лет.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int64)
left_3=arr[:3]
mid_arr=arr[3::4]
last_arr=arr[-4:]
arr_rez=np.concatenate((left_3,mid_arr,last_arr))
print(arr_rez)

11 27 32 23 21 22 21 15 13 28 2 30 17 16 1 20 25 40 13 41 14 23 25 36 12 4 15
[11 27 32]
[23 15 30 20 41 36]
[36 12  4 15]
[11 27 32 23 15 30 20 41 36 36 12  4 15]

Ваша команда исследователей работает над проектом, который требует анализа большого количества данных. Один из массивов данных, называемый data, содержит результаты эксперимента для каждого участника. Вам нужно вывести срез массива, который содержит все результаты, кроме первых 5 и тех которые стоят на местах индексы которых кратны 3.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int64)
del_5=arr[5:]
print(del_5)

18 16 19 20 26 29 20 9 6 16 25 15 6 25 23 23 29 22 17 21 19 28 18 17 18 21 28 28 24 5 10 11 8 8 9 14 28 13 31 18 29 20 32 25 13 5 7 11 31 31 11 29 7 6 18 30 25 22 15 24 24 16 18 6 5 15 25 32 13 19 11 13 30 23 6 9 15 7 8 9 29 23 29 22 5 31 11 15 22 17 12 16 14 28 7 29 24 15 10 25 21 5 22 24 15 6 17 12 11 24 30 14 23 12 21 8 20 17 32 26
[29 20  9  6 16 25 15  6 25 23 23 29 22 17 21 19 28 18 17 18 21 28 28 24
  5 10 11  8  8  9 14 28 13 31 18 29 20 32 25 13  5  7 11 31 31 11 29  7
  6 18 30 25 22 15 24 24 16 18  6  5 15 25 32 13 19 11 13 30 23  6  9 15
  7  8  9 29 23 29 22  5 31 11 15 22 17 12 16 14 28  7 29 24 15 10 25 21
  5 22 24 15  6 17 12 11 24 30 14 23 12 21  8 20 17 32 26]

In [ ]:
[29  9  6 25 15 25 23 29 22 21 19 18 17 21 28 24  5 11  8  9 14 13 31 29
 20 25 13  7 11 31 11  7  6 30 25 15 24 16 18  5 15 32 13 11 13 23  6 15
  7  9 29 29 22 31 11 22 17 16 14  7 29 15 10 21  5 24 15 17 12 24 30 23
 12  8 20 32 26]

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
for i in arr:
  if arr[i]%3==0:
    b=np.append(b, i)
    print(b)

18 16 19 20 26 29 20 9 6 16 25 15 6 25 23 23 29 22 17 21 19 28 18 17 18 21 28 28 24 5 10 11 8 8 9 14 28 13 31 18 29 20 32 25 13 5 7 11 31 31 11 29 7 6 18 30 25 22 15 24 24 16 18 6 5 15 25 32 13 19 11 13 30 23 6 9 15 7 8 9 29 23 29 22 5 31 11 15 22 17 12 16 14 28 7 29 24 15 10 25 21 5 22 24 15 6 17 12 11 24 30 14 23 12 21 8 20 17 32 26
[19]
[19 25]
[19 25 25]
[19 25 25 22]
[19 25 25 22 19]
[19 25 25 22 19 28]
[19 25 25 22 19 28 28]
[19 25 25 22 19 28 28 28]
[19 25 25 22 19 28 28 28 24]
[19 25 25 22 19 28 28 28 24 11]
[19 25 25 22 19 28 28 28 24 11  8]
[19 25 25 22 19 28 28 28 24 11  8  8]
[19 25 25 22 19 28 28 28 24 11  8  8 28]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24 12  8]

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
for i in arr:
  if arr[i]%3==0:
    b=np.append(b, i)
    print(b)

18 16 19 20 26 29 20 9 6 16 25 15 6 25 23 23 29 22 17 21 19 28 18 17 18 21 28 28 24 5 10 11 8 8 9 14 28 13 31 18 29 20 32 25 13 5 7 11 31 31 11 29 7 6 18 30 25 22 15 24 24 16 18 6 5 15 25 32 13 19 11 13 30 23 6 9 15 7 8 9 29 23 29 22 5 31 11 15 22 17 12 16 14 28 7 29 24 15 10 25 21 5 22 24 15 6 17 12 11 24 30 14 23 12 21 8 20 17 32 26
[19]
[19 25]
[19 25 25]
[19 25 25 22]
[19 25 25 22 19]
[19 25 25 22 19 28]
[19 25 25 22 19 28 28]
[19 25 25 22 19 28 28 28]
[19 25 25 22 19 28 28 28 24]
[19 25 25 22 19 28 28 28 24 11]
[19 25 25 22 19 28 28 28 24 11  8]
[19 25 25 22 19 28 28 28 24 11  8  8]
[19 25 25 22 19 28 28 28 24 11  8  8 28]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24 12]
[19 25 25 22 19 28 28 28 24 11  8  8 28 25  7 11 11  7 25 22 24 24 25 19
 11  7  8 22 11 22 12 28  7 24 25 22 24 12 11 24 12  8]

In [ ]:
[29  9  6 25 15 25 23 29 22 21 19 18 17 21 28 24  5 11  8  9 14 13 31 29
 20 25 13  7 11 31 11  7  6 30 25 15 24 16 18  5 15 32 13 11 13 23  6 15
  7  9 29 29 22 31 11 22 17 16 14  7 29 15 10 21  5 24 15 17 12 24 30 23
 12  8 20 32 26]

Вы работаете в научной лаборатории, изучающей погоду на различных континентах. У вас есть массив temperatures, содержащий средние температуры для каждого месяца на протяжении года. Вам нужно вывести срез массива, который содержит температуры только для зимних месяцев (декабрь, январь, февраль). Данные в массиве начинаются с января.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
qq=arr[0:2]
zz=arr[-1:]
arr_rez=np.concatenate((zz,qq))
print(arr_rez)

-12 -19 -5 5 12 23 27 25 19 12 3 -19
[-19 -12 -19]

Вы отправляетесь в путешествие по пустыне, но у вас есть только один компас, который показывает направление на север. Вы решили использовать массив directions, который представляет собой последовательность чисел, где 0 означает движение на север, 1 - на восток, 2 - на юг и 3 - на запад. Вам нужно создать новый массив north_directions, который будет содержать только те значения массива directions, которые означают движение на север. Вам нужно вывести каждое второе из значений нового массива.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
for i in arr:
  if i==0:
    b=np.append(b,i)
print(b[1::2])

1 3 2 2 1 3 2 3 2 2 0 3 2 1 2 2 0 0 0 1 3 3 0 3
[0 0]

Входные данные: На вход поступают две строки. В первой строки находится целое число n, означающее день недели с которого начинаются записи в массиве, который поступает во второй строке. 0 - воскресенье, 1 - понедельник, 2 -вторник и т.д. Тренировки проходят каждый день.

In [ ]:
import numpy as np
d=int(input())
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
if d==0:
  b=np.append(b,arr[::7])
elif d==1:
  b=np.append(b,arr[1::7])
elif d==2:
  b=np.append(b,arr[2::7])
elif d==3:
  b=np.append(b,arr[3::7])
elif d==4:
  b=np.append(b,arr[4::7])
elif d==5:
  b=np.append(b,arr[5::7])
else:
  b=np.append(b,arr[6::7])
print(b)

2
76 55 60 81 87 84 71 52 79 86 84 83 76 72 69 71 99 84 90 82 62 71 56 78 59 97 77 78 85 73 60 72 52 64 95 57 79 88 51 58 50 81 61 68 51 76 82 67 58 82 80 70 95 82 87 66 68 91 59 53 79 58 91 81 67 58 56 76 54 85 88 73 79 68 50 80 70
[60 86 99 78 60 88 51 70 59 58 79]

In [ ]:
import numpy as np
d=int(input())
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
if d==0:
  b=np.append(b,arr[::7])
elif d==1:
  b=np.append(b,arr[::7])
elif d==2:
  b=np.append(b,arr[5::7])
elif d==3:
  b=np.append(b,arr[::7])
elif d==4:
  b=np.append(b,arr[::7])
elif d==5:
  b=np.append(b,arr[::7])
else:
  b=np.append(b,arr[::7])
print(b)

2
76 55 60 81 87 84 71 52 79 86 84 83 76 72 69 71 99 84 90 82 62 71 56 78 59 97 77 78 85 73 60 72 52 64 95 57 79 88 51 58 50 81 61 68 51 76 82 67 58 82 80 70 95 82 87 66 68 91 59 53 79 58 91 81 67 58 56 76 54 85 88 73 79 68 50 80 70
[84 76 82 77 64 50 67 87 58 54 80]

Напишите функцию reverse_array(arr), которая принимает на вход одномерный массив arr и возвращает новый массив с элементами arr, расположенными в обратном порядке.

Функцию вызывать не нужно, просто создайте ее.

In [ ]:
import numpy as np
def reverse_array(arr):
  return arr[::-1]
reverse_array(np.array(input().split(), dtype=np.int32))

76 55 60 81 87 84 71 52 79 86 84 83 76 72 69 71 99 84 90 82 62

array([62, 82, 90, 84, 99, 71, 69, 72, 76, 83, 84, 86, 79, 52, 71, 84, 87,
       81, 60, 55, 76], dtype=int32)

Напишите функцию swap_first_last(arr), которая принимает на вход одномерный массив arr и возвращает новый массив, в котором первый и последний элементы поменялись местами.

In [ ]:
import numpy as np
def swap_first_last(arr):
  e=arr[1:-1]
  z=arr[:1]
  b=arr[-1:]
  arr_rez=np.concatenate((b,e,z))
  return arr_rez
reverse_array(np.array(input().split(), dtype=np.int32))

0 82 62 71 56 78 59 97 77 78 85 73 60 72 52 64 95 5

array([ 5, 95, 64, 52, 72, 60, 73, 85, 78, 77, 97, 59, 78, 56, 71, 62, 82,
        0], dtype=int32)

Напишите функцию slice_replace(arr, start, end, replacement), которая принимает на вход список arr, начальный и конечный индексы среза start и end, а также новый список replacement, который будет использоваться для замены элементов из среза arr[start:end]. Функция должна возвращать новый NumPy массив, в котором элементы среза arr[start:end] заменены на элементы среза списка replacement[start:end].

При этом

Если start > last_index, где last_index - последний индекс массива arr, и start<last_index_replacement,  то элементы среза replacement[start:end] добавляются в конец массива arr.

Если start > last_index_replacement, то массив arr возвращается без изменений.

In [ ]:
import numpy as np
def slice_replace(arr, start, end, replacement):
  last_index_arr=len(arr)
  last_index_replace=len(replacement)
  if start>=last_index_arr and start<last_index_replace:
    arr_1_rez=np.concatenate((arr, replacement[start:end]))
  elif start>last_index_replace and start>last_index_arr:
    arr_1_rez=arr
  elif start==0:
    arr_1_rez=np.concatenate((replacement[start:end],arr[end:]))
  else:
    arr_1_rez=np.concatenate((arr[:start],replacement[start:end]))
  return arr_1_rez

slice_replace(np.array(input().split(), dtype=np.int32), int(input()), int(input()), np.array(input().split(), dtype=np.int32))

1 2
5
10
3 4

array([1, 2], dtype=int32)

Имеется массив зарплат сотрудников компании, в котором каждому индексу отвечает определенный работник, а значением является зарплата, и необходимо изменить зарплату определенных сотрудников. На вход, в первой строке, поступает массив со старой зарплатой сотрудников, во второй строке - массив индексов сотрудников, зарплату которых нужно изменить. В третьей строке поступает массив с новыми значениями зарплат. На выход подайте обновленный массив numpy с обновленными данными по зарплате.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
ind=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
updated_salaries = np.copy(arr1)
for i, salary in enumerate(arr2):
  updated_salaries[ind[i]] = salary
  print(i, salary)
  print(updated_salaries)

76 55 60 81 87 84 71 52 79 86 84 83 76
0 2 7
88 65 78
0 88
[88 55 60 81 87 84 71 52 79 86 84 83 76]
1 65
[88 55 65 81 87 84 71 52 79 86 84 83 76]
2 78
[88 55 65 81 87 84 71 78 79 86 84 83 76]

In [ ]:
import numpy as np
def update_salaries(old_salaries, indexes_to_update, new_salaries):
    updated_salaries = np.copy(old_salaries)
    for i, salary in enumerate(new_salaries):
        updated_salaries[indexes_to_update[i]] = salary
    return updated_salaries


update_salaries(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

76 55 60 81 87 84 71 52 79 86 84 83 76
0 2 7
88 65 78

array([88, 55, 65, 81, 87, 84, 71, 78, 79, 86, 84, 83, 76], dtype=int32)

На Земле произошел вирусный апокалипсис, и многие люди стали зомби. Но ученые нашли лекарство от вируса зомби, которое можно найти в определенной позиции в одномерном numpy массиве, содержащем последовательность чисел. Но лекарство сильно портится от света, поэтому нужно заменить все числа в массиве, кроме позиции с лекарством, на число -1, чтобы его не испортить.

На вход поступает целое число n - идентификатор лекарства в массиве, который поступает во второй строке. Необходимо вернуть массив в соответствии с условиями задачи.

In [ ]:
import numpy as np
id_l=np.array(input().split(), dtype=np.int32)
arr=np.array(input().split(), dtype=np.int32)
for i, ind in enumerate(arr):
  #print(i, ind)
  if i!=id_l:
    arr[i]=-1
print(arr)

6
53 79 58 91 81 67 58 56 76 54
0 53
1 79
2 58
3 91
4 81
5 67
6 58
7 56
8 76
9 54
[-1 -1 -1 -1 -1 -1 58 -1 -1 -1]

Компания хочет сделать резервную копию важных данных на дополнительном жестком диске, но не хочет рисковать потерей данных, если что-то пойдет не так. Чтобы обезопасить себя, компания создаст копию одномерного numpy массива, содержащего информацию о данных, и заменит в копии все значения, которые являются конфиденциальной информацией, на случайные значения. Таким образом, можно создать безопасную архивную копию, не рискуя утечкой данных.

На вход подается массив целых чисел, разделенных пробелом - а. Во второй строке подается массив индексов значений в массиве а которые нужно изменить. В третьей строке подаются новые значения, соответствующие этим индексам. На выход необходимо подать старый numpy массив а с первоначальными значениями и новую его копию с измененными данными.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
ind=np.array(input().split(), dtype=np.int32)
arr_new=np.array(input().split(), dtype=np.int32)
updated_arr = np.copy(arr)
for i, q in enumerate(arr_new):
  updated_arr[ind[i]] = q
print(arr)
print(updated_arr)

82 80 70 95 82 87 66 68 91 59 53 79 58 91
0 1 4 5
8 8 8 8
[82 80 70 95 82 87 66 68 91 59 53 79 58 91]
[ 8  8 70 95  8  8 66 68 91 59 53 79 58 91]

Написать функцию multpl(arr1, arr2), которая на вход принимает два одномерных numpy массива arr1 и arr2 и возвращает новый массив, содержащий результат их поэлементного сложения. Функцию вызывать не нужно, просто создайте ее.

In [ ]:
import numpy as np
def multpl(arr1, arr2):
  c=arr1+arr2
  return c
multpl(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

86 84 83 76 72 69 71 99
86 84 83 76 72 69 71 99

array([172, 168, 166, 152, 144, 138, 142, 198], dtype=int32)

В глубинах океана живет золотая рыбка, которая обладает волшебной способностью умножать и делить числа. Однажды, капитан корабля потерял свои карты, на которых были указаны координаты пути к сокровищам. Он обратился за помощью к золотой рыбке, и она согласилась помочь, но только если капитан даст ей массив чисел. Золотая рыбка умножит каждый элемент массива на 3 и разделит на 2, затем к результату каждой операции добавит 10. После этого она вернет массив обратно капитану, а он должен будет найти индексы элементов, которые меньше среднего значения всех элементов и вывести их на экран, вместе с итоговым массивом каждый с новой строки.

На вход поступает строка чисел, разделенных пробелом, на основе которой нужно создать массив numpy  и произвести с ним манипулации в соответсвии с условием задачи.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
b=np.empty(0, dtype=np.int32)
arr1=np.copy(arr)
sm=sum(arr1)/len(arr1)
for i,ind in enumerate(arr1):
  if ind<sm:
    b=np.append(b,i)
print(list(b))
op=arr1*3/2+10
print(op)

0 38 93 15 65 4 87 99 17 51 84 13 78 45 85 14 10 22 23 68 88 28 65
[0, 1, 3, 5, 8, 11, 13, 15, 16, 17, 18, 21]
[ 10.   67.  149.5  32.5 107.5  16.  140.5 158.5  35.5  86.5 136.   29.5
 127.   77.5 137.5  31.   25.   43.   44.5 112.  142.   52.  107.5]

В далеком царстве есть сад, в котором растут фрукты разных видов. Каждый фрукт имеет свой цвет, который соответствует определенному числу. Сад зачарован, и фрукты каждый день увеличивают свою массу на 20%, а цвет становится ярче на 15%. Царь хочет знать, через сколько дней цвет каждого фрукта превысит определенную отметку, равную 100. Помогите царю узнать это и выведите на экран целое число - количество дней, спустя которое цвет каждого фрукта станет не менее 100, в следующей строке выведите итоговый массив со значениями цветов каждого фрукта спустя данный промежуток времени.

На вход поступает строка действительных чисел, разделенных пробелом, значение каждого числа - цвет соответствующего фрукта в условных единицах.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.int32)
minim=min(arr)
i=0
arr_sb=0
while minim<100:
  arr_sb+=arr*1.15
  minim=minim*1.15
  i+=1
print(i, minim, arr_sb)

2 10 16 14 20 24 28 8 29 9 13 23 29 6 28 10
28 100.13122413124505 [ 64.4 322.  515.2 450.8 644.  772.8 901.6 257.6 933.8 289.8 418.6 740.6
 933.8 193.2 901.6 322. ]

В темном лесу живет мудрый маг, у которого есть магическая палочка. Она умеет возводить числа в любую положительную степень. Однажды маг решил проверить свои способности и дал своей палочке массив чисел. Он возвел каждый элемент в квадрат, затем в третью степень, затем в четвертую, и так далее, пока не достиг 6-й степени. После этого маг собрал все числа, полученные в результате операций, в новый массив и хочет узнать, какое из чисел является наименьшим.

На вход подается строка действительных чисел, разделенных пробелом. На выход нужно подать число, соответствующее условию задачи и исходный массив после преобразований.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.float64)
step=0
while step<6:
  a=arr**2
  b=a**3
  c=b**4
  d=c**5
  e=d**6
  step+=1
print(min(e))
print(e)

2 1.5 1.2 2.1 2 1.5
1.0244650674915638e+57
[5.51565226e+216 6.10529313e+126 1.02446507e+057 9.95158389e+231
 5.51565226e+216 6.10529313e+126]

In [ ]:
import numpy as np
arr = np.array(input().split(), float)
for i in range(2, 7):
    arr = arr ** i
print(arr.min())
print(arr)

2 1.5 1.2 2.1 2 1.5
1.0244650674915638e+57
[5.51565226e+216 6.10529313e+126 1.02446507e+057 9.95158389e+231
 5.51565226e+216 6.10529313e+126]

В музее были украдены драгоценные украшения, и детективу нужно вычислить, сколько украшений было украдено и сколько они стоили. Для этого детективу нужно создать массивы, содержащие количество и цену каждого украшения в музее. Затем детектив может использовать операцию умножения, чтобы вычислить общую стоимость каждого типа украшений, и операцию сложения, чтобы найти общую стоимость всех украденных украшений.

На вход подаются две строки целых чисел разделенных пробелом count_arr и price_arr - количество и цена каждого украшения в музее. На выход необходимо подать общую сумму украденного.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.float32)
arr2=np.array(input().split(), dtype=np.float32)
z=int(sum(arr1*arr2))
print(z)

1 1 1 1
2 2 2 2
8

Напишите функцию func1(a, b), которая принимает два одномерных массива a и b и возвращает новый массив, в котором на каждой позиции i находится результат операции a[i] > b[i] & a[i] != 0. Вызывать функцию не надо, только определите ее.

In [ ]:
import numpy as np
def func1(a, b):
  return np.all(a>b&a!=0)


func1(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

1 6 2 2 4 4
6 5 3 3 2 4

ValueError: ignored

Вы проводите медицинские исследования и хотите определить, какой из двух лекарственных препаратов более эффективен для лечения конкретного заболевания. Для этого вам поступают два одномерных массива а, b с показателями здоровья пациентов, которые получали каждый из препаратов. Вам необходимо сделать вывод о том какой препарат более эффективен а или b.

Более эффективным препаратом считать тот для которого больше количество показателей здоровья превышающих аналогичные показатели для другого лекарства. Например если в первом массиве значения [ 1 2 1] а во втором [10 1 0], то более эффективным считается первый препарат, так как для него два показателя здоровья выше, чем у второго препарата. В качестве ответа вывести а если эффективнее первый препарат, в противном случае b. Гарантируется, что какой-то один из препаратов эффективнее.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
#print(sum(arr1>arr2))
#print(sum(arr1<arr2))
if sum(arr1>arr2)>sum(arr1<arr2):
  print('a')
else:
  print('b')

1 2 3 4
2 3 4 1
b

Два дракона, красный и зеленый, соревнуются между собой, совершая различные трюки. Красный дракон совершает n трюка в день и получает за каждый трюк m очков. Зеленый дракон совершает i трюков в день и получает за каждый трюк j очков. Кто из драконов наберет больше очков за N дней?

На вход поступает 5 чисел в одной строке через пробел: n, m, i, j, N.

В качестве ответа необходимо вывести слово "зеленый", "красный" или "ничья" без кавычек. Необходимо воспользоваться возможностями библиотеки numpy для решения данной задачи.

In [ ]:
import numpy as np
n,m,i,j,N=map(int,(input().split()))
sum_1=n*m*N
sum_2=i*j*N
if sum_1>sum_2:
  print ('красный')
elif sum_1<sum_2:
  print ('зеленый')
else:
  print ('ничья')

5 5 3 3 12
красный

Том Сойер и его друг соревнуются в беге. Напишите функцию find_faster_runner(tom_speed, friend_speed), которая принимает на вход два одномерных массива NumPy tom_speed и friend_speed, содержащие скорости Тома и его друга соответственно в различных забегах. Функция возвращает строку "Tom" , если Том победил хотя бы в одном забеге и строку "Friend" если Том ни разу не превзошел своего друга. Если скорости обоих бегунов всегда равны, функция должна вернуть строку "Draw".

In [ ]:
import numpy as np
def find_faster_runner(tom_speed, friend_speed):
  sm=sum(np.greater(tom_speed,friend_speed))
  eq=np.equal(tom_speed,friend_speed)
  if sm>0:
    return 'Tom'
  elif np.all(eq)==True:
    return 'Draw'
  else:
    return 'Friend'

find_faster_runner(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

1 2 3 2 4 5 2 3
2 2 4 5 5 6 3 1

'Tom'

Однако, чтобы найти этот массив "С", тебе нужно выполнить трудную задачу - найти сокровища, спрятанные в глубинах твоего собственного разума. Ведь Колдун сказал, что "С" равняется "А" плюс "Б", деленное на "А".

Так что, если ты жаждешь открыть эту тайну, то тебе нужно взять свою мудрость и умение решить эту задачу с помощью массивов numpy.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.float64)
arr2=np.array(input().split(), dtype=np.float64)
rez=arr1+(arr2/arr1)
print(rez)

12.55 0.87 6.33 10.16 17.14 3.48 24.53 15.62 4.87 23.22 5.13 16.63 12.09 6.73
6.23 24.73 11.11 4.63 12.02 6.46 24.81 24.31 0.06 4.66 10.15 7.3 19.01 8.12
[13.04641434 29.29528736  8.08513428 10.61570866 17.84128355  5.33632184
 25.54141459 17.17633803  4.88232033 23.42068906  7.1085575  17.06896572
 13.66237386  7.93653789]

Из глубин математических абсолютностей возвышалось зловещее знамение - система двух уравнений, связывающих переменные "х" и "у". Странные символы "а", "b", "c", "d", "e" и "f", написанные на языке чисел, вопили о помощи, вызывая из тьмы таинственных глубин Арифметика - великого магистра математики.

Первое уравнение требовало, чтобы "а" было умножено на "х", "b" на "у", а затем сложено вместе, чтобы равняться "с". Второе уравнение требовало, чтобы "d" было умножено на "х", "e" на "у", а затем вычтено и равнялось бы "f". Однако решить эту головоломку было нелегко, ибо уравнения были сложными и запутанными, а переменные "х" и "у" скрыты в туманной дымке математической тайны.

Только те, кто обладают силой ума и умением логически мыслить, смогут встретить вызов и отправиться в путешествие в мир математических загадок, чтобы найти решение этой тайны. Но будь осторожен, ибо неизвестные силы могут помешать твоему успеху и утащить тебя в бездну неразрешимых проблем.

И так, если ты готов сойти в темные глубины математической тайны и встретить вызов головоломки, то отправляйся в мир переменных "х" и "у", чтобы раскрыть эту тайну и открыть путь к свету знания. Но помни, что тайна системы уравнений лежит в тумане математической неопределенности, и только те, кто обладают силой воли и умением, смогут найти ответ.

Вход - строки содержащие коэффициенты a, b, c, d, e, f системы.

Выход - массивы numpy x и y - решения системы, каждый с новой строки

In [ ]:
import numpy as np
a=np.array(input().split(), dtype=np.int32)
b=np.array(input().split(), dtype=np.int32)
c=np.array(input().split(), dtype=np.int32)
d=np.array(input().split(), dtype=np.int32)
e=np.array(input().split(), dtype=np.int32)
f=np.array(input().split(), dtype=np.int32)
x=c/a-b-y
#y=-f/d-e+x
print(x, y)

-7 -7 3 1 4 7 -8 -1 3 -4
-6 -7 -6 -4 2 10 9 -9 -3 11
0 9 6 10 -4 7 11 11 5 -7
-4 5 7 -2 -10 -11 1 -2 -1 -9
3 3 -5 11 3 -10 1 8 1 -10
-6 -5 8 -12 1 -1 -1 -10 9 11

NameError: ignored

Таким образом, задача заключается в том, чтобы написать функцию, которая принимает на вход два массива NumPy - один с напряжением и другой с сопротивлением, и возвращает массив с силой тока, рассчитанной по закону Ома.

In [ ]:
import numpy as np
napr=np.array(input().split(), dtype=float)
sopr=np.array(input().split(), dtype=float)
i=napr/sopr
print(i)

15.39 13.98 5.63 24.61 8.45 9.8 19.04 20.34 1.31 22.83 22.61 15.49 10.33 19.05
22.55 8.73 1.05 12.42 3.89 12.69 17.6 12.98 7.74 19.52 23.97 9.65 8.35 18.98
[0.68248337 1.60137457 5.36190476 1.98148148 2.1722365  0.77226162
 1.08181818 1.56702619 0.16925065 1.16956967 0.94326241 1.60518135
 1.23712575 1.00368809]

На борту корабля были шесть контейнеров с ресурсами, помеченных метками a, b, c, d, e и f. Каждый контейнер содержал массивы numpy, представляющие различные ресурсы, которые были украдены. Вам нужно использовать эти массивы, чтобы рассчитать общую стоимость украденных ресурсов, используя следующее выражение:

(2a + 3b - 4c) * d ** 2 / (e - f)

Найдите общую стоимость украденных ресурсов, чтобы помочь нам восстановить нашу экономику и победить этих коварных космических пиратов!

Результат округляйте до одного знака после запятой.

In [ ]:
from numpy import array
import numpy as np
a,b,c,d,e,f = [array(input().split(), float) for _ in range(6)]
rez=(2*a + 3*b - 4*c) * d ** 2 / (e - f)
rez_1=np.round(rez,1)
print(rez_1)

9 5 2 0 -9 -8 -1 -10 11 -11 7 -12
-9 8 -7 6 -9 -12 -4 -7 -7 0 4 6
-3 8 -8 -7 1 2 9 1 -8 -11 -2 6
-2 -9 -7 -10 -11 -7 1 2 9 2 -4 -9
2 -10 -9 -10 -9 -12 -1 -8 9 5 8 6
-7 6 6 9 2 4 4 -1 -6 -1 -11 -8
[   1.3  -10.1  -49.  -242.1  539.   183.8   10.    25.7  178.2   14.7
   28.6 -173.6]

Помогите этим отважным искателям найти потерянный город и вернуться домой живыми. Если все значения в массиве координат первого искателя больше, чем второго, то отправляемся в путь смело, возвращая True, иначе возвращаем False и оставляем их на волю судьбы."

Вход  в первой строке поступают через пробел значения x0, v, v0, a. Во второй строке значения времени - последовательность целых чисел, разделенных пробелом.

Вывод True или False  в соответствии с условием задачи.

In [ ]:
import numpy as np
x0,v,v0,a=map(int,(input().split()))
t=np.array(input().split(), dtype=float)
x1 = x0 + v*t
x2=v0*t+(a*(t**2)/2)
#print(x1)
#print(x2)
if np.all(np.greater(x1,x2))==True:
  print('True')
else:
  print ('False')

100 5 -1 1
0.0 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.1 5.6 6.1 6.6 7.1 7.6 8.1 8.6 9.1 9.6 10.1 10.6 11.1 11.6 12.1 12.6 13.1 13.6 14.1 14.6 15.2 15.7 16.2 16.7 17.2 17.7 18.2 18.7 19.2 19.7 20.2 20.7 21.2 21.7 22.2 22.7 23.2 23.7 24.2 24.7 25.3 25.8 26.3 26.8 27.3 27.8 28.3 28.8 29.3 29.8 30.3 30.8 31.3 31.8 32.3 32.8 33.3 33.8 34.3 34.8 35.4 35.9 36.4 36.9 37.4 37.9 38.4 38.9 39.4 39.9 40.4 40.9 41.4 41.9 42.4 42.9 43.4 43.9 44.4 44.9 45.5 46.0 46.5 47.0 47.5 48.0 48.5 49.0 49.5 50.0
False

ИМТ = масса тела (в килограммах) / (рост (в метрах))^2.

Вход - четыре строки m1, h1, m2, h2 - действительных чисел разделенных пробелом, содержащих массы и высоты двух групп воинов.

Выход - True или False в соответсвии с условием задачи.

In [ ]:
import numpy as np
m1,h1,m2,h2=(np.array(input().split(), float) for _ in range(4))
imt_1=m1/h1**2
imt_2=m2/h2**2
if np.any(np.greater(imt_1,imt_2))==True:
  print('True')
else:
  print ('False')

54.9 57.9 72.5 52.5 71.3 54.1 60.3 62.4 66.1 62.1 71.0 56.5 67.3 55.2
164.7 130.1 197.3 168.9 147.5 190.8 126.7 191.2 214.6 167.5 120.8 192.7 141.4 169.6
57.4 86.4 56.8 74.1 61.1 75.0 78.0 70.0 83.8 72.8 92.4 65.8 87.5 78.9
169.1 174.0 162.6 128.2 160.4 175.5 122.3 190.6 132.7 132.9 196.2 211.4 160.4 217.1
True

Ахои, матросы! У нас на корабле имеются два массива показателей - "Альфа" и "Браво". Необходимо вычислить логическое выражение, которое определяет, когда значение показателя "Альфа" больше, чем значение показателя "Браво", при условии, что значение "Альфа" не равно нулю. Пристегните ремни безопасности, мы отправляемся в плавание по массивам!

In [ ]:
import numpy as np
arr1, arr2=(np.array(input().split(), int) for _ in range(2))
b=np.empty(0, dtype=np.int32)
for i in arr1:
  if i==0:
    b=np.append(b,np.nan)
  else:
    b=np.append(b,i)
a=np.greater(b,arr2)
print(a)

0 1 4 2 6 4
-3 2 5 2 1 5
[False False False False  True False]

После расчета, если хотя бы при одном значении объем газа больше порогового значения 0.1, таинственная граница раскроется перед нашей группой исследователей, позволяя им продолжить свое путешествие по неизведанным местам галактики. Однако, если объем газа окажется меньше порогового значения для всех значений, то наша группа исследователей останется в заточении, не имея возможности вернуться домой.

Для решения задачи необходимо использовать уравнение Менделеева-Клапейрона: PV = nRT

где P - давление газа, V - его объем, n - количество молей газа, R = 8.31 - универсальная газовая постоянная, T - абсолютная температура.

Даны массивы: pressure - давление газа, count - массив количества  вещества (в молях), temperature - температура газа, .

Вывод: True, False в соответствии с условиями задачи.

In [ ]:
import numpy as np
P, n, T=(np.array(input().split(), float) for _ in range(3))
R=8.31
V=(n*R*T)/P
z=np.any(np.greater(V,0.1))
print(z)

92188 91305 103791 96000 100349 100408 104269 100041 92055 94519 101417 101299 96622 91425 99481 103185 100062 97698 103011 101050 90604 100031
1 3 1 2 1 1 1 1 4 2 2 1 1 4 1 1 1 4 4 2 2 3
332 265 310 279 377 306 287 315 291 283 357 274 320 350 271 265 252 313 285 357 253 330
True

Напишите функцию greater_10(arr), которая принимает на вход одномерный массив и возвращает массив из элементов, которые больше 10.

In [ ]:
import numpy as np
def greater_10(arr):
  mask=arr>10
  rez=arr[mask]
  return rez
greater_10(np.array(input().split(), dtype=np.int32))

 -8 -9 1 14 4 -9 14 14 -4 1 13 5 -2 -4 -9 1 -10 -3 -3 -5 8 13

array([14, 14, 14, 13, 13], dtype=int32)

Пират, прослышавший о твоих навыках программирования, обратился к тебе с просьбой: "Сколько сундуков с золотом я найду на этом острове, если золото лежит только в сундуках, весом менее 5 или более 10 фунтов? Создай мне функцию filter_golden_chests(arr), которая сможет ответить на мой вопрос, если я дам ей список весов всех сундуков на острове, она должна вернуть список сундуков, отвечающих условиям задачи.

In [ ]:
import numpy as np
def filter_golden_chests(arr):
  mask_1=(arr<5) | (arr>10)
  rez=arr[mask_1]
  return rez
filter_golden_chests(np.array(input().split(), dtype=np.int32))

4 7 10 7 5 12 9 8 9 6 6 3 14 7 11 9 14 7 12 6 6 11

array([ 4, 12,  3, 14, 11, 14, 12, 11], dtype=int32)

К счастью, Капитан Билл был хорошо знаком с программированием и знал, как написать функцию, которая принимает на вход одномерный массив чисел и возвращает массив, содержащий только числа 0 и 1. Он быстро написал функцию и применил ее к таинственной последовательности чисел на карте.

In [ ]:
import numpy as np
def find_binary_numbers(arr):
  mask_1=(arr==0) | (arr==1)
  rez=arr[mask_1]
  return rez
find_binary_numbers(np.array(input().split(), dtype=np.int32))

2 1 2 1 -1 0 0 -2 0 -3 -1 2 1 -3 2 1 0 -1 -3 -1 1 -3 -1 1 2 -2 2 -3 -2 -1 2 1

array([1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1], dtype=int32)

getArrayElementsDivisibleByThree(arr), которая принимает на вход одномерный массив чисел и возвращает массив, содержащий только те числа, которые делятся на 3 без остатка.

In [ ]:
import numpy as np
def getArrayElementsDivisibleByThree(arr):
  mask_1=(arr%3==0)
  rez=arr[mask_1]
  return rez
getArrayElementsDivisibleByThree(np.array(input().split(), dtype=np.int32))

-5 -11 8 5 3 -3 -11 -1 6 -6 10 -9 -5 7 -6 -8 11 5 -7 -5 9 11

array([ 3, -3,  6, -6, -9, -6,  9], dtype=int32)

Так что, если вам нужно найти определенные элементы из первого массивов, то вы можете воспользоваться функцией getMatchingElements(arr1, arr2), чтобы получить нужную информацию. Но будьте осторожны - в мире Стивена Кинга многие вещи не такие, как кажутся на первый взгляд.

In [ ]:
import numpy as np
def getMatchingElements(arr1, arr2):
  mask_1=(arr2==1)
  rez=arr1[mask_1]
  return rez
getMatchingElements(np.array(input().split(), dtype=str),np.array(input().split(), dtype=np.int32))

а в у ь б ч е и ц й в ц ы в а с м к л м в о в у и м н
0 0 1 0 1 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1

array(['у', 'б', 'и', 'й', 'ц', 'а', 'к', 'л', 'о', 'у', 'н'], dtype='<U1')

Он решил написать функцию, которая поможет ему отобрать только те элементы, которые удовлетворяют определенным условиям - они должны быть четными числами и больше 5.

Так что, если вы хотите быть таким же отважным путешественником, как Фродо, вы можете использовать функцию selectInterestingItems(arr), чтобы отобрать только самые нужные и интересные элементы из вашего массива. Ведь когда вы отправляетесь в путешествие, каждая мелочь имеет значение!

In [ ]:
import numpy as np
def selectInterestingItems(arr):
  mask_1=(arr%2==0)  & (arr>5)
  rez=arr[mask_1]
  return rez
selectInterestingItems(np.array(input().split(), dtype=np.int32))

6 7 2 -1 -4 2 -10 11 7 6 -10 -7 5 11 -3 6 -1 -12 1 -2 -10 5

array([6, 6, 6], dtype=int32)

На моем столе лежит массив чисел, и я хотел бы найти те элементы, которые превосходят среднее значение в этом массиве. Нам понадобится функция find_elements_above_average(arr), которая сможет проанализировать каждый элемент и, основываясь на его соотношении с средним значением, составить новый массив с необходимыми элементами

In [ ]:
import numpy as np
def find_elements_above_average(arr):
  mean_1=arr.mean()
  mask_1=(arr>mean_1)
  rez=arr[mask_1]
  return rez
find_elements_above_average(np.array(input().split(), dtype=np.int32))

1 2 3
2.0

array([3], dtype=int32)

функция get_common_elements(arr1, arr2), которая прошла по каждому элементу первого массива и сравнила его со вторым массивом. Когда функция нашла нужный элемент, она положила его в свою магическую корзину.

In [ ]:
import numpy as np
def get_common_elements(arr1, arr2):
  q = np.isin(arr1, arr2)
  rez=arr1[q]
  return rez
get_common_elements(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

1 2 3 4 5
2 2 6 0

array([2], dtype=int32)

В далекой-далекой галактике, в эпоху, когда галактическая империя подавляла своих противников, существовала функция return_to_center(arr), которая помогала джедаям находить ближайшие к среднему значению числа в массиве. С ее помощью джедаи могли находить точки, наиболее близкие к центру галактики, где находилось их секретное убежище.

Напишите функцию, которая принимает на вход одномерный массив, содержащий только числа, и возвращает массив, содержащий значения, которые наиболее близки к среднему значению массива. Найдите силу в себе, джедай, чтобы использовать эту функцию и найти свой путь к миру и гармонии в галактике

In [ ]:
import numpy as np
def return_to_center(arr):
  mean_1=int(arr.mean())
  q=int(np.average(arr))
  print(mean_1)
  print(q)
  left=arr[:q]
  right=arr[q:]
  print(left)
  print(right)
  rez=np.concatenate((left,right))
  return rez
return_to_center(np.array(input().split(), dtype=np.int32))

4 1 9 1 1 5 8 3 2 6 1 4 9 9 7 7 3 1 7 4 3 7 3 4 5 1 4 2 4 1 8 7 3 5 2 6 8 2 1 9 3 8 3 7
4
4
[4 1 9 1]
[1 5 8 3 2 6 1 4 9 9 7 7 3 1 7 4 3 7 3 4 5 1 4 2 4 1 8 7 3 5 2 6 8 2 1 9 3
 8 3 7]

array([4, 1, 9, 1, 1, 5, 8, 3, 2, 6, 1, 4, 9, 9, 7, 7, 3, 1, 7, 4, 3, 7,
       3, 4, 5, 1, 4, 2, 4, 1, 8, 7, 3, 5, 2, 6, 8, 2, 1, 9, 3, 8, 3, 7],
      dtype=int32)

На острове сокровищ произошло странное событие. Капитан Флинт прибыл на остров и встретился с Джимом Хокинсом. Они вытащили из своих сумок по кучке золотых монет. Флинт заинтересовался их количеством, а Хокинс - их стоимостью. Чтобы узнать, кто из них богаче, Хокинс предложил посчитать, сколько монет Флинта имеют большую стоимость, чем каждая монета у Хокинса. Теперь им нужна ваша помощь в написании функции count_greater(arr1, arr2), которая принимает на вход два одномерных массива, содержащих только числа (количество золотых монет), и возвращает массив, содержащий элементы первого массива, которые больше каждого элемента второго массива.

In [ ]:
import numpy as np
def count_greater(arr1, arr2):
  len_arr1=len(arr1)
  len_arr2=len(arr2)
  if len_arr1>len_arr2:
    arr2.resize(len_arr1, refcheck=False)
  else:
    arr1.resize(len_arr2, refcheck=False)
  z=arr1>max(arr2)
  rez=arr1[z]
  return rez
count_greater(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

13 16 12 4 13 12 13 20 18 21 3 4 9 9 16 16 4 7 20 17 5 10 8 3 9 17 16 7 3 15 19 21 17 7 14 8 17 5 11 8 16 21 22 11 8 11 21 17 18 11 19 1 7 18 16 10 20 10 17 16 14 7 21 17
18 17 14 12 19 1 15 1 15 13 18 10 12 2 11 16 1 5 13 12 13 14 4 5 17 18 12 17 1 19 19 6 5 6 11 16 4 4 17 7 13 1 11 2 12 16 19 19 18 5 17 3 9 16 9 8 18 9 3 18 3 15 19 3

array([20, 21, 20, 21, 21, 22, 21, 20, 21], dtype=int32)

Разберем тестовый пример 1.  В массиве 13 16 12 4 13 12 13 20 18 21 3 4 9 9 16 16 4 7 20 17 5 10 8 3 9 17 16 7 3 15 19 21 17 7 14 8 17 5 11 8 16 21 22 11 8 11 21 17 18 11 19 1 7 18 16, для k = 3 последними тремя самыми наибольшим элементами являются 20, 21, 22. Поэтому нужно вернуть numpy массив, содержащий все вхождения этих элементов в исходном массиве в том порядке, в котором они следуют в исходном массиве. Это массив - [20 21 20 21 21 22 21]. Гарантируется, что во входном массиве найдется требуемое количество элементов.

In [ ]:
import numpy as np
def top_k_elements(arr, k):
  set_arr=sorted(set(arr))
  j=int(k)
  srez=set_arr[-j:]
  q = np.isin(arr, srez)
  rez=arr[q]
  return(rez)
top_k_elements(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=np.int32))

13 16 12 4 13 12 13 20 18 21 3 4 9 9 16 16 4 7 20 17 5 10 8 3 9 17 16 7 3 15 19 21 17 7 14 8 17 5 11 8 16 21 22 11 8 11 21 17 18 11 19 1 7 18 16
3

array([20, 21, 20, 21, 21, 22, 21], dtype=int32)

В базе данных интернет-магазина есть таблица со списком всех заказов и информацией о том, был ли заказ оплачен. Напишите программу на Python с использованием библиотеки numpy, которая находит все заказы, которые еще не были оплачены.

На вход поступает строка целых чисел, содержащая id заказа, и строка состоящая из слов True False, разделенных пробелом. True означает, что соответствующий заказ был оплачен, False - не был оплачен.

In [ ]:
import numpy as np

def find_unpaid_orders(order_ids, paid_status):
  otm=paid_status=='False'
  #print(otm)
  rez=order_ids[otm]
  return rez
find_unpaid_orders(np.array(input().split(), dtype=np.int32),np.array(input().split(), dtype=str))

100 200 300
True False True

In [ ]:
import numpy as np
order_ids=np.array(input().split(), dtype=np.int32)
paid_status=np.array(input().split(), dtype=str)
otm=paid_status=='False'
result_array = order_ids[otm]
print(result_array)

1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019
False False True False False False False False False True True False True True False True False True False True
[1000 1001 1003 1004 1005 1006 1007 1008 1011 1014 1016 1018]

В сети фастфудов есть база данных всех заказов, сделанных за последний месяц, с указанием времени заказа и его стоимости. Напишите программу на Python с использованием библиотеки numpy, которая находит все заказы, сделанные после 18:00 и стоимость которых превышает 500 рублей.

На вход подаются три строки. В первой строке содержится последовательность целых чисел, разделенных пробелом - это id заказов. Во второй последовательность моментов времени совершения соответствующих заказов. В третьей - стоимости каждого заказа в рублях.

Выход - массив id заказов, отвечающих условиям задачи.

In [ ]:
import numpy as np
id_order=np.array(input().split(), dtype=np.int32)
time_order=np.array(input().split(), dtype=datetime)
price_order=np.array(input().split(), dtype=np.int32)
time=time_order>18
price=price_order>500
print(time)
print(price)

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
10:48:00 18:45:00 20:42:00 11:05:00 18:08:00 13:26:00 13:19:00 18:56:00 22:56:00 09:26:00 09:12:00 19:42:00 10:54:00 10:55:00 18:49:00 12:47:00 08:37:00 14:14:00 19:59:00 13:34:00

NameError: ignored

In [ ]:
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
10:48:00 18:45:00 20:42:00 11:05:00 18:08:00 13:26:00 13:19:00 18:56:00 22:56:00 09:26:00 09:12:00 19:42:00 10:54:00 10:55:00 18:49:00 12:47:00 08:37:00 14:14:00 19:59:00 13:34:00
107 480 859 224 250 106 993 1166 1196 1003 242 955 853 133 344 850 1171 120 853 856

В базе данных автомобильной компании есть таблица с информацией о моделях автомобилей и их стоимости. Напишите программу на Python, которая находит все модели автомобилей, стоимость которых больше 45 000 долларов.

На вход поступают две строки. В первой идут модели автомобилей через пробел. Во второй их стоимости - действительные числа.

Вывод - массив numpy моделей автомобилей, удовлетворяющих условиям задачи.

In [ ]:
import numpy as np
auto_name=np.array(input().split(), dtype=str)
auto_prices=np.array(input().split(), dtype=np.float32)
q=auto_prices>45000
result_array = auto_name[q]
print(result_array)

BMW3-Series AudiA4 MercedesC-Class LexusIS VolvoS60 InfinitiQ50 JaguarXE CadillacATS AcuraTLX BuickRegal LincolnMKZ Chrysler300C ChevroletMalibu FordFusion ToyotaCamry HondaAccord NissanAltima Mazda6 SubaruLegacy VolkswagenPassat
33752.0 49604.0 59000.0 44695.0 50034.0 31102.0 52129.0 48795.0 39465.0 39388.0 54024.0 53606.0 40292.0 50819.0 53982.0 52782.0 50466.0 34118.0 53130.0 57512.0
['AudiA4' 'MercedesC-Class' 'VolvoS60' 'JaguarXE' 'CadillacATS'
 'LincolnMKZ' 'Chrysler300C' 'FordFusion' 'ToyotaCamry' 'HondaAccord'
 'NissanAltima' 'SubaruLegacy' 'VolkswagenPassat']

В базе данных компании-перевозчика есть таблица со списком всех маршрутов и датами отправления. Напишите функцию return_route(routes_array, dates_array), которая принимает два массива numpy routes_array,  содержащий названия маршрутов и dates_array, содержащий даты маршрутов в формате 'YYYY-MM-DD' в строковом представлении, которая находит и возвращает все маршруты, отправление на которые запланировано на дни с 10 по 20 включительно.

In [ ]:
import numpy as np

def return_route(routes_array, dates_array):
  if np.all(dates_array>='2023-04-01')==True:
    bl=(dates_array>'2023-04-09') & (dates_array<'2023-04-21')
    rez=routes_array[bl]
  elif np.all(dates_array>='2023-03-01')==True:
    bl1=(dates_array>'2023-03-09') & (dates_array<'2023-03-21')
    rez=routes_array[bl1]
  else:
    rez=[]
  return rez
return_route(np.array(input().split(','), dtype=str),np.array(input().split(), dtype=str))

New York - Chicago, San Francisco - Houston, Atlanta - Denver, Miami - Portland, Seattle - Las Vegas, Boston - Nashville, Austin - San Diego, Philadelphia - Memphis, Dallas - Washington, Chicago - New York, Houston - San Francisco, Denver - Atlanta, Portland - Miami, Las Vegas - Seattle, Nashville - Boston, San Diego - Austin, Memphis - Philadelphia, Washington - Dallas, New Orleans - Phoenix, Toronto - Calgary
2023-03-20, 2023-03-26, 2023-03-07, 2023-03-08, 2023-03-14, 2023-03-24, 2023-03-13, 2023-03-23, 2023-03-01, 2023-03-03, 2023-03-02, 2023-03-04, 2023-03-16, 2023-03-05, 2023-03-17, 2023-03-19, 2023-03-11, 2023-03-15, 2023-03-25, 2023-03-21
[ True False False False  True False  True False False False False False
  True False  True  True  True  True False False]

array(['New York - Chicago', ' Seattle - Las Vegas',
       ' Austin - San Diego', ' Portland - Miami', ' Nashville - Boston',
       ' San Diego - Austin', ' Memphis - Philadelphia',
       ' Washington - Dallas'], dtype='<U24')

In [ ]:
import numpy as np
from datetime import datetime

def return_route(routes_array, dates_array):
    mask = np.array([True if ((datetime.strptime(day, "%Y-%m-%d").day >= 10) and
     (datetime.strptime(day, "%Y-%m-%d").day <= 20)) else False for day in dates_array])
    return routes_array[mask]

В базе данных интернет-магазина есть таблица со списком всех товаров и их ценами. Напишите функцию return_item(item, old_price, new_price), которая принимает три numpy массива item, old_price, new_price, содержащие название товара, старую цену  и новую цену соответственно и возвращает строку с товарами, цена на которые снизилась более чем на 20%. Товары разделены пробелами и следуют в том же порядке, в котором они находятся в исходном массиве.

In [ ]:
import numpy as np

def return_item(item, old_price, new_price):
  q=100-(new_price*100/old_price)>20
  rez=item[q]
  return ' '.join(rez)
return_item(np.array(input().split(','), dtype=str),np.array(input().split(','), dtype=np.int32),np.array(input().split(','), dtype=np.int32))

Яблоко, Апельсин, Манго, Банан, Груша, Ананас, Киви, Арбуз, Дыня, Персик, Слива, Абрикос, Мандарин, Грейпфрут, Лимон, Лайм, Виноград, Черешня, Клубника, Малина
50, 60, 100, 40, 70, 150, 80, 200, 120, 90, 80, 70, 65, 80, 55, 60, 90, 100, 120, 130
45, 45, 90, 32, 60, 130, 70, 160, 100, 72, 64, 60, 50, 60, 45, 50, 72, 80, 100, 110

' Апельсин Мандарин Грейпфрут'

В базе данных фитнес-центра есть таблица со списком всех клиентов и датами их последнего посещения. Напишите функцию return_names(names, dates), принимающую два numpy массива names - имена клиентов, dates - даты в формате 'YYYY-MM-DD' их последнего посещения, и возвращающую строку с именами всех клиентов, разделенных пробелом, которые не посещали фитнес-центр более 60 дней, если текущая дата '2022-03-22'.

In [ ]:
from datetime import datetime  # даты в dates входят в формате datetime

cur_date = datetime(2022, 3, 22)  # текущая дата
(cur_date - datetime.strptime(day, "%Y-%m-%d").days)  # разница в днях

In [ ]:
def return_names(names, dates):
  current_date = '2022-03-22'
  delta = current_date - dates
  result = [name for name, date in zip(names, delta) if delta > 60]
  return ''.join(result)
return_names(np.array(input().split(), dtype=str),np.array(input().split(), dtype=str))

Alice Bob Charlie Dave Eve Frank Grace Harry Iris Jack Kate Liam Mia Nate Olivia Peter Quinn Rose Steve Tina
2022-01-10 2022-01-09 2022-01-01 2022-02-28 2022-02-20 2022-02-15 2022-03-01 2022-03-05 2022-02-10 2022-02-20 2022-03-10 2022-02-05 2022-02-08 2022-01-20 2022-03-05 2022-02-02 2022-01-01 2022-02-28 2022-03-01 2022-03-05

UFuncTypeError: ignored

В базе данных ресторана есть таблица со списком всех блюд и их калорийностью. Напишите функцию get_calories(dishes, calories), принимающую numpy массивы dishes (названия блюд), calories (калории), которая возвращает строку с блюдами, калорийность которых меньше 300 калорий.

In [ ]:
import numpy as np

def get_calories(dishes, calories):
  q=calories<300
  rez=dishes[q]
  return ' '.join(rez)
get_calories(np.array(input().split(','), dtype=str),np.array(input().split(), dtype=np.int32))

Омлет, Овсяная каша, Яблочный пирог, Салат Цезарь, Борщ, Рыба на гриле, Куриный суп, Сырники, Мясной рулет, Печенье, Гречневая каша, Пицца, Шашлык, Картофель фри, Паста с морепродуктами, Котлеты из куриного филе, Жареный рис, Блины, Суп из шампиньонов, Гренки с сыром
290 140 240 350 250 390 120 280 450 200 180 460 420 330 410 390 380 150 210 290

'Омлет Овсяная каша Яблочный пирог Борщ Куриный суп Сырники Печенье Гречневая каша Блины Суп из шампиньонов Гренки с сыром'

Задача заключается в том, чтобы использовать булево индексирование для фильтрации отзывов на онлайн-маркетплейсе. Например, нужно выбрать только те отзывы, которые содержат ключевые слова, такие как "отличный", "качество", "быстрая доставка" и т.д. Для этого необходимо создать функцию filter_feedback(feeds, keywords), принимающую два numpy массива feeds (массив с отзывами) и keywords - список Python, содержащий ключевые слова, по которым фильтруются элементы первого списка.

Вывод: массив с отзывами, в которых упоминается хотя бы одно ключевое слово из второго списка.

In [ ]:
import numpy as np

def filter_feedback(feeds, keywords):
  lower_feeds=np.char.lower(feeds)
  q = np.isin(lower_feeds,keywords)
  print(q)
filter_feedback(np.array(input().split(','), dtype=str),np.array(input().split(), dtype=str))

Отличный телефон!, Очень плохое качество экрана, Быстрая доставка и качественный товар, Телефон просто супер, Ужасный сервис и низкое качество товара, Купил телефон неделю назад и пока всё нравится, Это лучший телефон, который я когда-либо покупал, Очень неудобный дизайн, Отличный звук и мощная батарея, Не стоит своих денег
отличный качественный супер лучший
[False False False False False False False False False False False]

Имеется массив данных, содержащий информацию о ценах на продукты в нескольких магазинах. Необходимо найти все продукты, цена которых меньше 10 рублей и при этом в наличии есть не менее 6 единиц товара. Для этого создать функцию find_less_10(items, prices, quantities), принимающую на вход три numpy массива: items - названия продуктов, prices - цены на продукты, quantities - количество оставшихся единиц. Функция должна возвращать numpy массив, содержащий названия продуктов, соответствующих условиям задачи.

In [ ]:
import numpy as np

def find_less_10(items, prices, quantities):
  q=(prices<10) & (quantities>=6)
  rez=items[q]
  return rez.tolist()
find_less_10(np.array(input().split(','), dtype=str),np.array(input().split(','), dtype=np.int32),np.array(input().split(','), dtype=np.int32))

хлеб, молоко, сыр, яблоки, бананы, колбаса, яйца, сок, кефир, курица
8, 12, 6, 5, 11, 9, 10, 7, 4, 15
10, 2, 8, 6, 4, 7, 3, 9, 5, 12

['хлеб', ' сыр', ' яблоки', ' колбаса', ' сок']

Имеется массив данных за месяц, содержащий информацию о температуре воздуха (в градусах Цельсия) и количестве осадков (в мм) за каждый день месяца. Необходимо найти дни, в которые было пасмурно, т.е. количество осадков было больше среднего значения за месяц, а температура воздуха была ниже средней температуры за месяц. Создайте функцию special_days(temperatures, precipitations), которая принимает numpy массивы с данными о температуре и количестве осадков за каждый день месяца. Функция должна возвращать numpy массив номеров дней, которые удовлетворяют условиям задачи.

In [ ]:
import numpy as np

def special_days(temperatures, precipitations):
  lens=len(temperatures)
  arr=np.arange(1,lens+1)
  mean_t=temperatures.mean()
  mean_p=precipitations.mean()
  q=(temperatures<mean_t) & (precipitations>mean_p)
  rez=arr[q]
  return rez
special_days(np.array(input().split(','), dtype=np.int32),np.array(input().split(','), dtype=np.int32))

-4, 2, 6, 10, 11, 12, 14, 16, 13, 7, 2, -2, -7, -9, -6, 1, 3, 5, 8, 10, 11, 12, 8, 5, -1
12, 9, 10, 6, 5, 7, 8, 14, 16, 17, 18, 12, 9, 7, 8, 6, 5, 4, 3, 2, 4, 7, 9, 10, 12

array([ 1,  2, 11, 12, 13, 24, 25])

Формула для расчета процентного роста доходов компании на основе натуральных логарифмов выглядит следующим образом:

growth_rate(t)=(ln(income)(t)−ln(income)(t−1))∗100

где ln(income)(t)- натуральный логарифм доходов компании в текущем году, ln(income)(t−1) - натуральный логарифм доходов компании в предыдущем году, growth_rate(t) - процентный рост доходов компании в текущем году.

Для вычисления процентного роста доходов используется разность натуральных логарифмов доходов в текущем и предыдущем годах, которая затем умножается на 100, чтобы выразить результат в процентах.

Вход: последовательность целых чисел, разделенных пробелом - прибыль по годам.

Выход: строка чисел, разделенных пробелом - процентный рост доходов, начиная со второго года.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
r=np.log(arr1)
diff=np.round(np.diff(r)*100,2)
print(*diff)

279305 181578 457865 157401 305274 206540 276112 145516 411860 74741 489692 578971 401350 434052 283243 216255 297217 262751 307565
-43.06 92.49 -106.78 66.24 -39.07 29.03 -64.05 104.04 -170.67 187.97 16.75 -36.64 7.83 -42.69 -26.98 31.8 -12.33 15.75

Ваша задача рассчитать значение коэффициента сопротивления воздуха для автомобиля при различных значениях угла наклона кузова.

На вход поступает последовательность действительных чисел - углы наклона кузова автомобиля в радианах.

Выход: последовательность действительных чисел, разделенных пробелом - значения коэффициентов сопротивления для данных углов. Значения должны быть округлены до трех знаков после запятой.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.float32)
x=1/2*1.225*2.28*(0.23+0.15*np.sin(arr1)+0.01*np.cos(arr1))
z=np.round(x,3)
print(*z,sep=' ')

0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.34 0.36 0.38 0.4 0.42 0.43 0.45 0.47
0.335 0.356 0.376 0.396 0.416 0.434 0.451 0.467 0.404 0.408 0.412 0.416 0.419 0.421 0.425 0.429

Вход: Первая строка, массив углов в градусах - действительные числа разделенные пробелом. Вторая строка - действительное число h  - высота здания.

Выход: последовательность действительных чисел, разделенных пробелом - длина тени, для соответствующих углов наклона крыши. Числа должны быть округлены до трех знаков после запятой.

Внимание, для перевода градусов в радианы используйте функцию np.deg2rad библиотеки.

In [ ]:
import numpy as np
arr1=np.denp.array(input().split(), dtype=np.float32)
arr2=np.array(input().split(), dtype=np.int32)

In [ ]:
import numpy as np
arr1=np.deg2rad(np.array(input().split(), dtype=np.float32))
arr2=np.array(input().split(), dtype=np.int32)
rez=np.round(arr2*np.tan(arr1),3)
print(*rez,sep=' ')

53.5 43.7 9.8 46.6 61.5 5.7 38.2 29.5 15.8 8.1 58.1 14.8 20.8 16.9 43.8 29.5 20.3 18.8 7.2 62.1 31.0 8.7 30.4 11.2 22.8 35.6 15.6
14
18.92 13.379 2.418 14.805 25.785 1.397 11.017 7.921 3.962 1.992 22.492 3.699 5.318 4.254 13.426 7.921 5.179 4.766 1.769 26.441 8.412 2.142 8.214 2.772 5.885 10.023 3.909

Вход: Первая строка -  массив сторон а, различных треугольников, вторая - массив сторон b, третья - массив сторон с.

Выход: Три массива. Первый массив - последовательность действительных чисел разделенных пробелом - углы α, второй и третий соответственно массивы углов
β,γ., выраженные в градусах Все значения должны быть округлены до одного знака после запятой.

Внимание, для перевода градусов в радианы используйте функцию np.rad2deg библиотеки.

In [ ]:
import numpy as np
a=np.array(input().split(), dtype=np.float32)
b=np.array(input().split(), dtype=np.float32)
c=np.array(input().split(), dtype=np.float32)
a_1= np.rad2deg(np.arccos(np.deg2rad((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c))))
b_1= np.deg2rad(np.arccos(np.rad2deg((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c))))
c_1= np.deg2rad(np.rad2deg(np.arccos(((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))))
e_1= np.rad2deg(np.deg2rad(np.arccos(((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))))
print(a_1)
print(b_1)
print(c_1)
print(e_1)

1
4
4
[86.12203]
[nan]
[nan]
[nan]

<ipython-input-143-0ee252dc3620>:6: RuntimeWarning: invalid value encountered in arccos
  b_1= np.deg2rad(np.arccos(np.rad2deg((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c))))
<ipython-input-143-0ee252dc3620>:7: RuntimeWarning: invalid value encountered in arccos
  c_1= np.deg2rad(np.rad2deg(np.arccos(((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))))
<ipython-input-143-0ee252dc3620>:8: RuntimeWarning: invalid value encountered in arccos
  e_1= np.rad2deg(np.deg2rad(np.arccos(((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))))

In [ ]:
import numpy as np
a=np.deg2rad(np.array(input().split(), dtype=np.float32))
b=np.deg2rad(np.array(input().split(), dtype=np.float32))
c=np.deg2rad(np.array(input().split(), dtype=np.float32))
a_1= np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c))
print(a, b, c)
print(a_1)

1
4
4
[0.01745329] [0.06981317] [0.06981317]
[nan]

<ipython-input-133-8a4fd5ed2fb5>:5: RuntimeWarning: invalid value encountered in arccos
  a_1= np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c))

In [ ]:
import numpy as np
a=np.deg2rad(np.array(input().split(), dtype=np.int32))
b=np.deg2rad(np.array(input().split(), dtype=np.int32))
c=np.deg2rad(np.array(input().split(), dtype=np.int32))
a_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))
b_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))
c_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))
print(np.round(a_1,1))
print(b_1)
print(c_1)

1
4
4
[nan]
[nan]
[nan]

<ipython-input-130-695b954dea8f>:5: RuntimeWarning: invalid value encountered in arccos
  a_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))
<ipython-input-130-695b954dea8f>:6: RuntimeWarning: invalid value encountered in arccos
  b_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))
<ipython-input-130-695b954dea8f>:7: RuntimeWarning: invalid value encountered in arccos
  c_1= np.rad2deg(np.arccos((np.power(b,2)+np.power(c,2)-np.power(a,2))/(2*a*c)))

Вход - массив со значениями времени - действительные числа, разделенные пробелом.

Выход строка чисел разделенных пробелом - количество бактерий в указанные моменты времени. Значения должны быть округлены до одного знака после запятой.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=float)
z=1000*np.exp(0.3155*arr)
red=np.round(z,1)
print(*red,sep=' ')

0.0 1.0 2.0 3.0 4.0 5.0 6.0 7.0 8.0 9.0 10.0 11.0 12.0 13.0 14.0 15.0 16.0 17.0 18.0 19.0 20.0 21.0 22.0 23.0 24.0 25.0 26.0 27.0 28.0 29.0 30.0 31.0  32.0 33.0 34.0 35.0 36.0 37.0 38.0 39.0 40.0 41.0 42.0 43.0 44.0 45.0 46.0 47.0 48.0
1000.0 1370.9 1879.5 2576.7 3532.5 4842.8 6639.3 9102.1 12478.4 17107.2 23453.0 32152.8 44079.7 60430.9 82847.4 113579.2 155710.7 213470.8 292656.6 401216.0 550044.9 754081.2 1033803.5 1417287.3 1943022.4 2663776.1 3651889.6 5006538.3 6863686.7 9409734.3 12900224.6 17685493.4 24245831.9 33239692.6 45569777.4 62473640.8 85647901.3 117418528.8 160974299.4 220686848.4 302549445.7 414778532.4 568638394.2 779571742.7 1068749680.2 1465196615.6 2008703405.5 2753821110.7 3775336214.0

Вход: любимый массив математических гениев.

Выход: округленные до трех знаков значения в  массиве математических гениев.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=int)
rez=np.round(np.sqrt(arr),3)
print(*rez,sep=' ')

11 7 3 5 10 15 2 16 18 22 19 8 4 3 20 2 3 14 19 22 4 4 12 14 13 10 4 13 14 4 14 22 3 8 11 20 2 9 16 19 10 1 1 21 7 21 17 19 9 19 17 14 1 9 8 22 7 22 4 20 7 16 19 6 6
3.317 2.646 1.732 2.236 3.162 3.873 1.414 4.0 4.243 4.69 4.359 2.828 2.0 1.732 4.472 1.414 1.732 3.742 4.359 4.69 2.0 2.0 3.464 3.742 3.606 3.162 2.0 3.606 3.742 2.0 3.742 4.69 1.732 2.828 3.317 4.472 1.414 3.0 4.0 4.359 3.162 1.0 1.0 4.583 2.646 4.583 4.123 4.359 3.0 4.359 4.123 3.742 1.0 3.0 2.828 4.69 2.646 4.69 2.0 4.472 2.646 4.0 4.359 2.449 2.449

Вход: строка действительных чисел, разделенных пробелом - значения переменного электрического сигнала.

Выход: максимальное значение амплитуды данной последовательности.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=float)
arr_abs=np.max(np.abs(arr))
print(arr_abs)

24.0 -23.5 -23.0 -22.5 -22.0 -21.5 -21.0 -20.5 -19.9 -19.4 -18.9 -18.4 -17.9 -17.4 -16.9 -16.4 -15.9 -15.4 -14.9 -14.4 -13.9 -13.4 -12.9 -12.4 -11.9 -11.4 -10.9 -10.4 -9.8 -9.3 -8.8 -8.3 -7.8 -7.3 -6.8 -6.3 -5.8 -5.3 -4.8 -4.3 -3.8 -3.3 -2.8 -2.3 -1.8 -1.3 -0.8 -0.3 0.3 0.8 1.3 1.8 2.3 2.8 3.3 3.8 4.3 4.8 5.3 5.8 6.3 6.8 7.3 7.8 8.3 8.8 9.3 9.8 10.4 10.9 11.4 11.9 12.4 12.9 13.4 13.9 14.4 14.9
24.0

На вход поступает последовательность действительных чисел, содержащая цены акций за определенный промежуток времени. На ее основе необходимо создать массив numpy разностей между текущей и предыдущей ценой, и затем применить функцию sign() к полученным данным. Результатом будет массив, содержащий 1, если цена возросла, -1, если цена упала, и 0, если цена не изменилась.

In [ ]:
import numpy as np
arr=np.array(input().split(), dtype=np.float64)
diff=np.sign(np.diff(arr))
print(*diff,sep=' ')

1205.5 1196.8 1202.3 1186.5 1193.8 1206.0 1198.8 1214.0 1204.6 1194.8
[-1.  1. -1.  1.  1. -1.  1. -1. -1.]
-1.0 1.0 -1.0 1.0 1.0 -1.0 1.0 -1.0 -1.0

Теперь, используя магию numpy и функцию np.power, Гермиона может решить эту задачу и раскрыть тайну загадки.

Вход: в первой строке массив целых чисел, разделенных пробелом, во второй строке - целое число n.

Выход: строка чисел, разделенных пробелом, каждое из которых возведено в степень n.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
r=np.power(arr1,arr2)
print(*r,sep=' ')

12 14 21 5 1 6 1 11 15 6 7 13 16 20 1 4 11 19 2 14 7 21 19 12 3 15 18 14 7 21 8 14 1 1 12 9 16 12 9 4 18 6 13 8 13 14 7 21 1 6 22 6 13 21 11 22 19 20 2 6 22 14 4 16 19 12 18 10 4 21 21 8 17 17 12 13 5 2 15 19 21 12 14 9 22 19 21 9 22 9 22 3 20 4 19 22 13 13 5 11 7 3 5 10 15 2 16 18 22 19 8 4 3 20 2 3 14 19 22 4 4 12 14 13 10 4 13 14 4 14 22 3 8 11 20 2 9 16 19 10 1 1 21 7 21 17 19 9 19 17 14 1 9 8 22 7 22 4 20 7 16 19 6 6
3
1728 2744 9261 125 1 216 1 1331 3375 216 343 2197 4096 8000 1 64 1331 6859 8 2744 343 9261 6859 1728 27 3375 5832 2744 343 9261 512 2744 1 1 1728 729 4096 1728 729 64 5832 216 2197 512 2197 2744 343 9261 1 216 10648 216 2197 9261 1331 10648 6859 8000 8 216 10648 2744 64 4096 6859 1728 5832 1000 64 9261 9261 512 4913 4913 1728 2197 125 8 3375 6859 9261 1728 2744 729 10648 6859 9261 729 10648 729 10648 27 8000 64 6859 10648 2197 2197 125 1331 343 27 125 1000 3375 8 4096 5832 10648 6859 512 64 27 8000 8 27 2744 6859 10648 64 64 1728 2744 2197 1000 64 2197 2744 64 2744 10648 27 512 1331 8000 8 729 4096 6859 1000 1 1 9261 343 9261 4913 6859 729 6859 4913 2744 1 729 512 10648 343 10648 64 8000 343 4096 6859 216 216

Вход: две строки, содержащие веса ягод. В первой строке ягоды из леса, во второй строке - ягоды из сада.

Выход: Для каждой пары ягод нужно выбрать самую крупную и вывести ее вес в строке чисел, разделенных пробелом.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=np.int32)
arr2=np.array(input().split(), dtype=np.int32)
z=np.maximum(arr1,arr2)
print(*z)

26 29 13 16 27 12 25 30 32 13 14 20
15 20 19 24 25 26 11 21 12 24 13 19
[26 29 19 24 27 26 25 30 32 24 14 20]

На вход в первой строке поступает массив действительных чисел, разделенных пробелом. Во второй строке действительное число - максимально допустимое значение сигнала. Ваша задача вывести данный массив, при этом все значения, превышающие допустимый максимум должны быть замененны на этот допустимый максимум.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
max=np.array(input().split(), dtype=float)
b=np.empty(0, dtype=float)
for i in arr1:
  if i>max:
    b=np.append(b,max)
  else:
    b=np.append(b,i)
print(*b)

3.4 1.3 4.0 1.7 4.4 3.9 2.9 2.3 2.7 1.3 4.9 5.8 1.3 4.5 5.2 3.0 4.1 0.0 5.6 3.6 5.4 4.9 2.8 0.5 4.8 4.1 0.7
4.5
3.4 1.3 4.0 1.7 4.4 3.9 2.9 2.3 2.7 1.3 4.5 4.5 1.3 4.5 4.5 3.0 4.1 0.0 4.5 3.6 4.5 4.5 2.8 0.5 4.5 4.1 0.7

Представьте, что вы являетесь собакой и вы хотите вычислить, сколько раз в день вы виляете хвостом. Для этого вы записываете свои данные в массив tail_wags_per_hour содержащий количество раз, которое вы виляете хвостом за каждый час в течение дня. Затем вы применяете функцию

\(e^x - 1\)

к этому массиву и получаете результат, который называется "экспоненциальный свинг хвоста". Выведите полученный результат, округленный до двух знаков, на экран.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
result = np.round(np.expm1(arr1),2)
print(*result)

5 9 7 6 0 8 0 1 1 3 5 13 6 5 10 13 5 2 6 1 11 7 8 9
147.41 8102.08 1095.63 402.43 0.0 2979.96 0.0 1.72 1.72 19.09 147.41 442412.39 402.43 147.41 22025.47 442412.39 147.41 6.39 402.43 1.72 59873.14 1095.63 2979.96 8102.08

Вход: две сроки действительных чисел, в первой строке подаются данные с эталонного датчика, во второй с проверяемого датчика. Третья строка содержит действительное число a_tolerance - точность с которой каждое число одного массива сравнивается с соответствующим числом второго массива, если |a - b| <= a_tolerance, то функция isclose вернет True для сравниваемых элементов.

Выход: True если все элементы в пределах заданной точности равны друг другу, иначе False.

In [ ]:
import numpy as np
arr1 = np.array([1, 2, 3])
arr2 = np.array([1.01, 1.99, 3.01])
result = np.isclose(arr1, arr2, rtol=0.01, atol=0.01)
print(result)# [ True  True True]

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
arr2=np.array(input().split(), dtype=float)
toch=np.array(input().split(), dtype=float)
#if np.abs(a-b)<=toch:
result = np.allclose(arr1, arr2,toch, toch)
print(result)

20.2 21.3 21.6 22.3 22.4 22.3 22.5
20.1 21.2 21.5 22.3 22.3 22.4 22.4
.1
True

In [ ]:
20.2 21.3 21.6 22.3 22.4 22.3 22.5
20 21.3 21.6 22.3 22.4 22.3 22.5
.1

In [ ]:
20.2 21.3 21.6 22.3 22.4 22.3 22.5
20.1 21.2 21.5 22.3 22.3 22.4 22.4
.1

А теперь и вам нужно решить эту задачу. На вход поступают две последовательности целых чисел, разделенных пробелом и нужно определить НОД для каждой пары чисел и если они все одинаковы, то вывести True иначе False.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
arr2=np.array(input().split(), dtype=int)
result = np.gcd(arr1,arr2)
set1=set(result)
if len(set1)==1:
  print (True)
else:
  print(False)

2 12 6 4 22 66 120
222 2 8 10 14 100 88
False

На вход поступают две последовательности мощных заклинаний в виде строки магических чисел разделенных пробелом. Ваша задача вывести НОК для каждой пары соответсвующих чисел из этих двух строк.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
arr2=np.array(input().split(), dtype=int)
result = np.lcm(arr1,arr2)
print(*result)

1316 440 1661 184 1813 1243 1253 1831 1682 1477 1603 441 1235 1634 989 371 699 12 1287 1235 503 689 798 664
1651 1526 1142 33 620 624 167 388 1103 343 1393 481 18 715 757 458 1064 253 1860 115 1110 1707 1354 701
2172716 335720 1896862 6072 1124060 775632 209251 710428 1855246 72373 318997 212121 22230 1168310 748673 169918 743736 3036 797940 28405 558330 1176123 540246 465464

Однажды мудрец получил от своих друзей одномерный массив, который содержал в себе множество чисел. Мудрец решил применить свою магическую силу, чтобы найти в этом массиве числа, которые были больше нуля и меньше единицы, а также удовлетворяли определенным условиям.

Мудрец заметил, что синус некоторых чисел оказывался больше косинуса, а арктангенс других чисел оказывался меньше квадратного корня из них.

Чтобы найти эти числа, мудрец использовал свои знания в области математики и применил множество функций библиотеки NumPy. И вам теперь тоже нужно решить эту задачу и вывести в одной строке все такие числа, удовлетворяющие данным условиям

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
b=np.empty(0, dtype=float)
a=np.empty(0, dtype=float)
for x in arr1:
  if np.sin(x)>np.cos(x) and np.arctan(x)<np.sqrt(x):
    a=np.append(a,x)
for i in a:
  if i>0 and i<1:
    b=np.append(b,i)
print(*b)

1.006 1.931 0.672 3.452 0.994 2.013 0.207 1.832 0.301 3.504 0.169 3.783 3.286 2.746 2.392 0.702 0.222 3.045 1.951 1.837 0.222 0.647 3.537 1.842 0.524 2.741 3.102 1.971 2.089 2.747 0.076 1.851 2.497 1.745 1.548 1.521 3.958 2.551 0.731 1.964 2.726 2.428 0.265 0.63 3.703 1.72 1.667 0.132 0.794 2.411 3.968 2.302 3.257 3.197 1.377 1.294 0.115 2.314 1.7 3.416 0.545 3.19 0.216 3.516 1.894 2.205 3.912 2.764 3.854 1.128 3.633 2.695 0.248 3.601 2.075 0.537 2.041 2.92 2.993 3.52 0.62 3.615 1.521 0.125 1.414 2.397 1.045 0.094 1.503 1.564 1.428 2.044 3.717 1.795 3.253 2.892 0.38 0.793 0.009 2.719 0.73 0.735 3.291 1.666 2.932 1.802 0.779 1.809 3.851 0.531 0.244 3.391 1.929 1.033 3.177 0.915 0.142 2.057 3.817 2.238 3.692 3.818 2.824 1.494 3.054 1.619 0.477 0.51 2.122 2.015 0.128 1.84 2.327 0.704 0.883 3.987 1.804 1.257 3.768 3.489 2.668 0.479 1.025 1.473 0.524 3.001 1.796 0.708 3.384 1.826 2.343 3.558 1.038 2.402 1.582 3.597 0.095 3.642 1.168 0.242 0.625 2.159 2.602 3.295 1.333 2.649 0.515 1.87 0.844 0.008 3.1 3.574 1.256 0.697 0.893 0.21 2.029 3.035 2.902 1.675 0.597 1.075 2.948 1.734 1.911 0.766 2.2 1.084 1.545 1.027 1.267 3.592 1.543 0.003 2.805 1.999 2.479 3.45 2.877 3.883 2.807 2.39 3.265 2.187 2.265 1.757 3.899 3.933 1.63 3.251 3.082 3.519 3.519 3.089 3.355 2.587 3.977 2.901 1.625 0.702 0.947 0.489 0.92 3.858 2.73 1.754 0.841 0.668 1.023 1.155 3.848 0.582 1.473 0.558 0.588 0.91 1.611 1.768 1.238 3.582 0.06 0.798 1.283 2.917 0.983 1.574 0.089 3.078 3.697 1.422 3.752 1.086 2.028 3.732 2.214 2.736 0.344 0.619 0.919 0.163 2.413 0.075 1.898 2.663 3.148 0.634 3.462 0.285 2.894 3.502 0.793 0.137 1.619 1.642 2.935 1.265 0.04 0.553 0.144 0.413 2.233 3.401 2.017 3.535 2.588 2.861 0.795 2.721 0.804 2.669 0.254 3.639 1.775 3.307 1.588 2.789 0.899 0.474 3.913 0.656 3.462 3.034 1.404 1.598 1.118 2.594 1.535 1.989 2.6 2.029 1.635 0.83 0.912 0.937 1.796 0.15 3.448 3.862 3.688 3.646 3.531 0.648 1.153 2.281 1.349 2.513 2.345 0.909 1.55 3.154 2.212 3.046 0.151 1.331 3.386 3.64 1.018 1.422 3.748 3.722 0.105 1.817 2.404 0.894 2.136 1.048 3.491 2.958 0.416 3.805
0.994 0.794 0.793 0.915 0.883 0.844 0.893 0.947 0.92 0.841 0.91 0.798 0.983 0.919 0.793 0.795 0.804 0.899 0.83 0.912 0.937 0.909 0.894

Найдите все элементы в массиве, которые больше 5, и замените их на 0, используя функцию numpy.where.

Вход: последовательность целых чисел, разделенных пробелом.

Выход: последовательность целых чисел, разделенных пробелом, соответствующая условию.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
arr1[np.where(arr1>5)]=0
print(*arr1)

7 8 18 18 6 5 12 10 14 10 13 15 0 7 11 13 14 1 3 2 7 21 32 27
[0 0 0 0 0 5 0 0 0 0 0 0 0 0 0 0 0 1 3 2 0 0 0 0]

Создайте массив, содержащий только нечетные числа от 1 до 50, используйте функцию numpy.where. Массив выведите в виде строки чисел, разделенных пробелом.

In [ ]:
import numpy as np
arr=np.array(np.arange(1,51))
r=str(np.where(arr%2==0))
print(*r, sep='')

(array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49]),)

На вход подается строка чисел, разделенных пробелом, на ее основе создайте массив numpy. Найдите индексы всех отрицательных элементов в массиве и выведите их в виде массива numpy.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
indices=np.where(arr1<0)
print(*indices)

2 -6 -10 -7 0 -6 3 7 8 10 -11 -11
[ 1  2  3  5 10 11]

На вход подается строка действительных чисел, разделённых пробелом. Замените все отрицательные значения в массиве на среднее значение положительных элементов. Итоговый массив выведите в строчку через пробел. Результат округляйте до трех знаков после запятой.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
r=np.mean(arr1[np.where(arr1>0)])
arr1[np.where(arr1<0)]=r
print(*np.round(arr1,3))

2 4 -1 -4
2.0 4.0 3.0 3.0

На вход поступает массив в виде строки целых чисел, разделенных пробелом. Создайте новый массив, содержащий элементы из исходного массива, которые больше 10 и меньше 20. Используйте функцию numpy.where.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
new_arr=arr1[np.where((arr1>10) & (arr1<20))]
print(*new_arr)

12 21 18 0 9 10 5 2 7 18 3 13 16 4 0 5 11 16 2 17 16 18 21 0
12 18 18 13 16 11 16 17 16 18

На вход поступает массив целых чисел в виде строки. Найдите первый элемент в массиве, который больше 50 и выведите его на экран, используйте функцию numpy.where. Если такого элемента нет, ничего выводить не нужно.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
max=np.max(arr1)
if max>50:
  new_arr=arr1[np.where(arr1>50)][0]
else:
  new_arr=''
print(new_arr)

10 20 30 40 50 250 1 2 3 4
250

На вход поступает массив чисел в виде строки целых чисел, разделенных пробелом. Создайте новый массив, содержащий все элементы из исходного массива, кроме тех, которые делятся на 3 без остатка. Выведите этот массив на экран в виде строки чисел, разделенных пробелом. Если таких чисел нет, ничего выводить не нужно.

In [ ]:
import numpy as np
a = np.array(input().split()).astype(int)
inds = np.where(a%3!=0)
#print(inds)
a = a[inds]
print(*a)

1 2 4 5 6 7
1 2 4 5 7

На вход поступает массив целых чисел с информацией о клиентах, в котором каждый элемент представляет собой среднемесячный доход клиента в рублях. Найдите всех клиентов с доходом выше 100000 рублей в месяц и пометьте их соответствующим образом в массиве метками 'High', 'Low'. Данный массив меток выведите на экран в виде строки через пробел.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
new_arr=np.where(arr1>100000,'High','Low')
print(*new_arr)

165903 97237 128368 187888 146599 156138 149556 141726 101633 187440 67525 50291 55938 69684 162119 141230 97434 168158 84146 90461 119371 62846 198485 120646 157500 105496 101447 82622 191250 172662 97755 138215 154904 171561 89881 188396 197934 79905 131856 163578 94850 102638 187358 109292 71822 89413 70547 93069 160630 154801 173656 97414 194345 127287 164460 61708 160631 192194 161240 160024 68027 146681 57594 75078
High Low High High High High High High High High Low Low Low Low High High Low High Low Low High Low High High High High High Low High High Low High High High Low High High Low High High Low High High High Low Low Low Low High High High Low High High High Low High High High High Low High Low Low

На вход в первой строке поступает массив с результатами эксперимента, в котором каждый элемент представляет собой количество бактерий в петри. Во второй строке поступает целое число threshold. Найдите все значения, которые превышают значение threshold, и замените их на максимальное значение в массиве. Выведите итоговый массив в виде строки чисел через пробел.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
arr2=np.array(input().split(), dtype=int)
maxx=np.max(arr1)
r=np.where(arr1>arr2,maxx,arr1)
print(*r)

12 21 18 0 9 10 5 2 7 18 3 13 16 4 0 5 11 16 2 17 16 18 21 0
10
21 21 21 0 9 10 5 2 7 21 3 21 21 4 0 5 21 21 2 21 21 21 21 0

На вход поступает массив с данными о продажах товаров в интернет-магазине, в котором каждый элемент представляет собой сумму продаж за определенный день. Найдите все дни, когда было продано товаров на сумму более 1000 рублей и выведите соответствующую информацию о продажах за эти дни. Если в какой-нибудь день продаж было меньше, замените соответствующее значение на NaN. Выведите итоговый массив на экран.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
r=np.where(arr1>1000,arr1,np.nan)
print(*r)

2395 701 6319 2959 7591 725 5036 6413 1709 5042 8436 733 5009 6986 8094 3384 6040 4388 2180 4696 7802 660 5396 7195 5534 2875 196 2136 1010 6471
2395.0 nan 6319.0 2959.0 7591.0 nan 5036.0 6413.0 1709.0 5042.0 8436.0 nan 5009.0 6986.0 8094.0 3384.0 6040.0 4388.0 2180.0 4696.0 7802.0 nan 5396.0 7195.0 5534.0 2875.0 nan 2136.0 1010.0 6471.0

На вход в первой строке поступает массив с данными о клиентах, в котором каждый элемент представляет собой возраст клиента. Во второй строке поступают два целых числа, разделенных пробелом: min и max. Найдите все значения, которые выходят за диапазон (min, max), и замените их на среднее значение возраста. Выведите итоговый массив в строчку через пробел. Результат округляйте до одного знака после запятой.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
min,max=map(float,np.array(input().split()))
z=np.mean(arr1)
arr1[np.where((arr1<=min) | (arr1>=max))]=z
print(*np.round(arr1,1))

29 26 14 67 49 5 79 67 6 70 48 10 97 72 46 19 21 56 26 14 96 13 45 77 10 41 47 69 54 74 20 59 4 54 25 82 35 92 27 71 51 31 57 69 76 94 94 17 34 53 32 47 81 89 51 42 10 63 29 24 18 55 8 26 90 11 68 27 18 89 57 54 52 26 60 2 69 66 79 6 82 26 90 35 40 96 72 28
10 77
29.0 26.0 14.0 67.0 49.0 47.8 47.8 67.0 47.8 70.0 48.0 47.8 47.8 72.0 46.0 19.0 21.0 56.0 26.0 14.0 47.8 13.0 45.0 47.8 47.8 41.0 47.0 69.0 54.0 74.0 20.0 59.0 47.8 54.0 25.0 47.8 35.0 47.8 27.0 71.0 51.0 31.0 57.0 69.0 76.0 47.8 47.8 17.0 34.0 53.0 32.0 47.0 47.8 47.8 51.0 42.0 47.8 63.0 29.0 24.0 18.0 55.0 47.8 26.0 47.8 11.0 68.0 27.0 18.0 47.8 57.0 54.0 52.0 26.0 60.0 47.8 69.0 66.0 47.8 47.8 47.8 26.0 47.8 35.0 40.0 47.8 72.0 28.0

Рассчитать среднее значение роста студентов в группе на основе их ростов, представленных в виде одномерного массива, который поступает во входной строке. Вывести ответ в формате: "Средний рост студентов в группе: х.х см", где х.х искомые значения. Результат округляйте до одного знака после запятой, кавычки не используйте.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
x=np.round(np.mean(arr1),1)
result = f'Средний рост студентов в группе: {x} см'
print(result)
#print ('Средний рост студентов в группе:' f{x} 'см')

187.0 186.7 220.9 176.0 166.0 171.7 201.7 180.5 133.4 146.3 237.5 141.0 215.3 181.5 166.2 126.2 137.6 189.1 219.5 160.5 217.7 129.1 166.6 159.9 134.2 201.7 153.0
Средний рост студентов в группе: 174.3 см

Рассчитать стандартное отклонение веса женщин в возрастной категории 18-30 лет на основе данных, представленных в виде одномерного массива, поступающего во входной строке.

Вывести результат в формате: "Стандартное отклонение весов женщин в возрастной категории 18-30 лет: x.x кг".

Результат округляйте до одного знака после запятой, кавычки не используйте.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
x=np.round(np.std(arr1),1)
result = f'Стандартное отклонение весов женщин в возрастной категории 18-30 лет: {x} кг'
print(result)

64.2 63.4 61.3 76.9 78.2 53.6 74.8 56.3 49.4 51.1 81.9 64.5 66.2 51.6 62.2 58.5 48.9 68.8 83.6 45.8 66.1 81.1 50.9 81.6 69.0
Стандартное отклонение весов женщин в возрастной категории 18-30 лет: 11.5 кг

Рассчитать дисперсию оценок учеников в классе на основе данных, представленных в виде одномерного массива, поступающего во входной строке. Ответ вывести в формате: "Дисперсия оценок учеников в классе равна: x.x"

Результат округляйте до одного знака после запятой, кавычки не используйте.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
x=np.round(np.var(arr1),1)
result = f'Дисперсия оценок учеников в классе равна: {x}'
print(result)

5 4 3 3 4 5 3 4 4 3 4 3
Дисперсия оценок учеников в классе равна: 0.5

Рассчитать гистограмму распределения количества пассажиров на рейсах авиакомпании на основе данных, представленных в виде одномерного массива, поступающего в первой входной строке, во второй строке поступает целое число n - количество интервалов разбиения гистограммы. Вывести в первой строке частоты через пробел, во второй строке границы, получившихся интервалов, округленные до одного знака после запятой.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
x=int(input())
hist, bin_edges = np.histogram(arr1, bins=x)
print(*hist)
print(*np.round(bin_edges,1))

125 195 189 147 133 124 190 97 159 120 174 125 112 93 170 120 191 120 165 166 154 181 167 158 159 128 182 151 190 131 96 175 117 103 181 156 131 93 171 101 120 118 142 156 172 88 125 100 183 159 176
4
9 14 13 15
88.0 114.8 141.5 168.2 195.0

На вход поступает одномерный массив данных в виде строки целых чисел, разделенных пробелом. Определить значение, которое соответствует границе массива, которую не превосходят 80% элементов в массиве. Вывести это значение, округленное до одного знака после запятой на экран.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
percentiles = np.percentile(arr1, [80])
print(*percentiles)

68 89 51 77 64 76 2 20 95 57 51 97 49 63 71 90 66 50 75 78 70
78.0

Массив, содержащий оценки студентов за экзамен поступает в первой строке в виде целых чисел, разделенных пробелом. Ваша задача - вычислить среднюю оценку и определить, сколько студентов получили оценки ниже средней. Вывести на экран среднюю оценку, округлив ее до одного знака после запятой и количество студентов через пробел.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
mn=np.round(np.mean(arr1),1)
r=arr1<mn
rez=np.count_nonzero(arr1[r])
print(mn, rez, sep=' ')

5 4 2 2 2 2 2 2 1 4 2 3 4 4 2 2 1 4 5 3 3 1 3 4 1 3 3 2 3 4 2 5 2 2 5 5 1 1 4 3 3 1 5 2 5 1 2 4 3 3 5 1 2 2 3 1 4 3 3 5 3 2 4 4 2 2 3 4 1 4 4 3 1 2 4 5 5 1 2 4 4 4 1 3 1 5 4 4 2 2 3 1 1 2 4 4 1 5 5 4 5 4 2 5 3 5 2 3 2 1 1 4 3 1 1 3 4 5 3 5
2.9 50

Массив, содержащий оценки студентов за экзамен поступает в первой строке в виде целых чисел, разделенных пробелом. Определите максимальное значение отклонения оценок студентов от среднего значения в единицах стандартного отклоенения. Ответ выведите на экран, округлив его до одного знака после запятой.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
mn=np.mean(arr1)
srr=np.std(arr1)
b=np.empty(0,int)
for i in arr1:
  z=np.abs((i-mn)/srr)
  if z>0:
    b=np.round(np.max(np.append(b,z)),1)
print(b)

2 2 3 2 5 5 3 3 3 3 5 2 4 3 5 4 2 2 3 4 5 3 4 2 5 2 2 5 5 3 2 2 4 3 3 4 4 2 2 3 3 4 2 3 5 2 3 5 4 2 4 3 5 4 3 3 5 2 2 2 2 4 4 2 2 5 4 5 4 4 4 4 5 3 2 2 5 5 4 4 5 4 5 5 5 5 5 3 2 2 3 4 2 5 3 3 5 5 5 3 2 5 5 4 5 2 4 2 5 5 5 2 2 2 5 2 3 3 2 2
1.3

Представим, что у нас есть данные о выручке от продажи различных товаров за год в интернет-магазине. Данные хранятся в одномерном массиве, который поступает в виде строки чисел, разделенных пробелом, в первой строке. Во второй строке поступает название категорий товаров, которые соответствуют выручке из первой строки.

Задача состоит в том, чтобы проанализировать эти массивы с помощью NumPy функций и получить следующие результаты:

Вычислить среднее значение выручки от продаж за год. Округленное до одного знака значение вывести на экран.
Определить категории товаров выручка в которых выше среднего. Вывести в следующей строке через пробел.
Вычислить стандартное отклонение выручки от продаж за год. Округленное до одного знака значение вывести на экран в следующей строке.
Рассчитать гистограмму распределения выручки от продаж за год для определения самых популярных и наименее популярных товаров. Параметр bins положить равным 5. Вывести частоты и границы интервалов через пробел.
Определить значение выручки, которая приносит 80% выручки от продаж за год. Округленное до одного знака значение вывести на экран в следующей строке.

In [ ]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
arr2=np.array(input().split(), dtype=str)
first=np.round(np.mean(arr1),1) #
upp=arr1>first
second=arr2[upp] #
third=np.round(np.std(arr1),1) #
hist, bin_edges = np.histogram(arr1, bins=5)
five=np.round(np.percentile(arr1, [80]),1) #
print(first)
print(*second)
print(third)
print(hist, bin_edges, sep=' ')
print(*five)

444729 155277 572725 249901 579980 505241 218060 308380 263730 133061 323404 360815
футболки платья рубашки джинсы брюки худи пальто кроссовки шапки чулки носки куртки
342941.9
футболки рубашки брюки худи куртки
146452.3
[3 3 2 1 3] [133061.  222444.8 311828.6 401212.4 490596.2 579980. ]
493138.6

И маг достал свою волшебную палочку и произнес некоторые слова, а затем прочитал содержимое массива. Он сказал: "Минимальное число в этом массиве - это такое число, которое меньше всех остальных. А максимальное число - это такое число, которое больше всех остальных. И я найду их!"

In [1]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
mins=np.min(arr1)
maxx=np.max(arr1)
print(mins,maxx, sep=' ')

2.406 -4.231 1.971 1.613 -4.5 5.388 -4.453 3.397 -5.264 4.478 -0.159 0.046 2.192 5.592 -3.171 0.497 4.641 -2.839 4.979 -4.229 2.884 -2.317 1.922 -2.962 -1.407 -0.781 -5.156 1.049 -1.411 4.626 -5.307 -2.898 -0.655 3.823 -3.066 -2.514 4.931 -3.628 5.251 1.525 3.073 -1.2 1.095 3.553 4.965 2.493 -4.643 1.122 -5.645 0.257 0.237 -0.05 -1.822 -5.293 5.572 -2.397 0.375 4.378 -0.89 4.806
-5.645 5.592

Таким образом, ученый нашел индексы братьев - минимального и максимального значения в массиве, которые всегда боролись за первенство. Он объяснил жителям мира одномерных массивов, что братья всегда были рядом, но их нужно было найти.

In [2]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
mins=np.argmin(arr1)
maxx=np.argmax(arr1)
print(mins,maxx, sep=' ')

0.006 -2.502 -3.401 4.917 -0.516 2.424 -4.678 -4.436 -5.959 -0.272 5.011 3.659 0.39 1.402 0.55 -1.42 5.82 5.787 -3.995 -1.087 3.862
8 16

В мгновение ока функция np.sum посчитала сумму всех элементов массива, и Суммик был очень доволен своей работой. Он поблагодарил функцию np.sum и пообещал, что всегда будет использовать ее для решения своих задач.

In [7]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
sums=np.round(np.sum(arr1),3)
print(sums)

1 1 1 1
4.0

Но однажды пришел к массиву мудрый волшебник и сказал: "Смело, мои друзья! Я дам вам силу раскрыть тайну этого массива. Возьмите каждое число и прибавьте к нему сумму всех предыдущих чисел. И тогда перед вами откроется кумулятивная сумма всех элементов массива, словно сверкающий сундук с сокровищами!"

In [12]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
sums=np.round(np.cumsum(arr1),3)
print(*sums)

-9 -11 7 -2 3 11 -8 7 11 3 -8 -3 -2 -6 -1 5 4 -7 2 -1 -10
-9.0 -20.0 -13.0 -15.0 -12.0 -1.0 -9.0 -2.0 9.0 12.0 4.0 1.0 -1.0 -7.0 -8.0 -3.0 1.0 -6.0 -4.0 -5.0 -15.0

На вход поступает массив годовых доходностей различных компаний за первый год в долях. Ваша задача рассчитать кумулятивное произведение годовых доходностей и вывести полученный массив на экран в строчку через пробел.

In [19]:
import numpy as np
arr1=np.array(input().split(), dtype=float)
sums=np.round(np.cumprod(arr1+1),3)
print(*sums)

0.46 0.17 0.28 0.09 0.13 0.9 0.83 0.05 0.71 0.62 0.97 0.76
1.46 1.708 2.186 2.383 2.693 5.117 9.364 9.832 16.813 27.237 53.657 94.436

В организации производится отслеживание запасов оборудования на складе. Необходимо найти индекс первого оборудования, которое поломалось и больше не пригодно для использования.

Предположим, что в поступающем в первой строке массиве хранится информация о состоянии оборудования, где каждый элемент массива соответствует одному устройству и принимает значения 1- (исправно) или 0 (неисправно). Ваша задача определить индекс первого от начала массива неисправного устройства. Если неисправных устройств нет, то возвратить строку: 'Оборудование исправно'.

In [35]:
import numpy as np
arr1=np.array(input().split(), dtype=int)
a=int(input())
mask=np.where(arr1!=a)
print(mask)
g=arr1[mask]
print(mask)

1 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 1 1 1
1
(array([ 1,  2,  3,  4,  6,  9, 10, 11, 12, 13, 14, 15, 18, 20]),)
(array([ 1,  2,  3,  4,  6,  9, 10, 11, 12, 13, 14, 15, 18, 20]),)